/**
 * Project: The Mindcraft Project
 * User: Hector Ordonez
 * Description:
 * CSS Library for the use of grids and their tables, rows and cells.
 * Date: 27/07/13 20:30
 */

/**
 * Workspace is the Tbody tag from which headers, content and footer will append.
 */
.workspace {
    border: 1px solid #525251;
}

/**
 * Class header defines the top rows of the table.
 */
.workspace .header {
    background-color: #e94f3b;
    text-indent: 5px;
}

/**
 * Class content defines the content rows of the table.
 */
.workspace .content {

}

/**
 * Class footer defines the rows at the bottom of the table.
 */
.workspace .footer {
}

/**
 * Rows of the header section
 */
.workspace .header.row {
    border: 1px solid #555;
}

/**
 * Rows of the content section
 */
.workspace .content.row {
    border-top: none;
    border-bottom: none;
}

/**
 * Row color definitions
 */
.workspace .row.content:nth-child(2n+1) {
    background-color: #f4f2ef;
}

.workspace .row.content {
    background-color: #dfd9c2;
}

.workspace .row.content:hover {
    background-color: #FFF;
}

/**
 * Rows of the footer section
 */
.workspace .footer.row {
    border: 1px solid #555;
}

/**
 * Cells of the header section
 */
.workspace .header .cell {
}

/**
 * Cells of the content section
 */
.workspace .content .cell {
    border-left: none;
    border-right: none;
}

/**
 * Cells of the footer section
 */
.workspace .footer .cell {
}
