/**
 * Project: The Mindcraft Project
 * User: Hector Ordonez
 * Description:
 * CSS Library for the use of grids and their tables, rows and cells.
 * Date: 27/07/13 20:30
 */

/*************************************************/
/** TABLE STYLES                                **/
/*************************************************/

/**
 * Table Wrapper
 */
.workspace {
    position: relative;
    display: block;
    /** height depends on the amount of rows. **/
}

/*************************************************/
/** ROW STYLES                                  **/
/*************************************************/

/**
 * All Rows
 */

.workspace .row {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

/**
 * Rows in the header section
 */
.workspace .header {

}

/**
 * Rows in the content section
 */
.workspace .content {
}

/**
 * Rows in the footer section
 */
.workspace .footer {
}

/*************************************************/
/** CELL STYLES                                 **/
/*************************************************/

/**
 * All Cells
 */
.workspace .cell {
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 100%; /** Required for empty cells **/
}

/**
 * Cells in the header section
 */
.workspace .header .cell {
}

/**
 * Cells in the content section
 */
.workspace .content .cell {
}

/**
 * Cells in the footer section
 */
.workspace .footer .cell {
}

/**
 * Extra tools
 */
.workspace .cell.centered {
    text-align: center;
    text-indent: 0;
}