/**
 * Project: The Mindcraft Project
 * User: Hector Ordonez
 * Description:
 * CSS Library for the use of grids and their tables, rows and cells.
 *
 * Naming definitions
 * workbench - Element class that contains headers, workspace and footers.
 * workspace - Element class that contains content rows.
 * row - Element class that contains cells.
 * cell - Element that contains text.
 * header - Type of row, attached to the workbench before the workspace.
 * content - Type of row, attached to the workspace.
 * footer - Type of row, attached in the workbench after the workspace.
 
 * Date: 27/07/13 20:30
 */

/*************************************************/
/** TABLE STYLES                                **/
/*************************************************/

/**
 * Workbench
 */
.workbench {
    position: relative;
    display: block;
    /** height depends on the amount of rows. **/
}

/**
 * Workspace
 */
.workspace {
    overflow-y: auto;
}

/*************************************************/
/** ROW STYLES                                  **/
/*************************************************/

/**
 * All Rows
 */

.workbench .row {
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
    display: block;
}

/**
 * Rows in the header section
 */
.workbench .row.header {

}

/**
 * Rows in the header section
 */
.workbench .row.footer {

}

/**
 * Rows in the content section
 */
.workbench .content {
}

/**
 * Rows in the footer section
 */
.workbench .footer {
}

/**
 * Rows in the footer section
 */
.workspace .content {
}


/*************************************************/
/** CELL STYLES                                 **/
/*************************************************/

/**
 * All Cells
 */
.workbench .cell {
    float: left;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    height: 100%; /** Required for empty cells **/
}

/**
 * Cells in the header section
 */
.workbench .header .cell {
}

/**
 * Cells in the content section
 */
.workspace .content .cell {
}

/**
 * Cells in the footer section
 */
.workbench .footer .cell {
}

/**
 * Extra tools
 */
.workbench .cell.centered {
    text-align: center;
    text-indent: 0;
}