/*********************************************/
/**         MINDCRAFT SKIN STYLES           **/
/*********************************************/
/** Color standards                         **/
/** black - 2a2724                          **/
/** red - e94f3b                            **/
/** mid grey - b9a889                       **/
/** dark grey - 5e5755                      **/
/** pearl - f4f2ef                          **/
/** beige - dfd9c2                          **/
/**                                         **/
/** Color standards RBA                     **/
/** black - 42, 39, 36                      **/
/** red - 233, 79, 59                       **/
/** mid grey - 185, 168, 137                **/
/** dark grey - 94, 87, 85                  **/
/** pearl - 244, 242, 239                   **/
/** beige - 223, 217, 194                   **/
/*********************************************/

/**********************************************************************************************************************/
/**                                               BODY BACKGROUND                                                    **/
/**********************************************************************************************************************/
body {
    background: url('../../../images/Background.jpg');
}

/**********************************************************************************************************************/
/**                                                Grid Elements                                                     **/
/**********************************************************************************************************************/

/** Row Height **/
.workspace .row {
    height: 30px;
}
.workspace .cell {
    line-height: 30px;
}

/**********************************************************************************************************************/
/**                                                    COLORS                                                        **/
/**********************************************************************************************************************/

/*********************************************/
/**             ... FOR FONTS               **/
/*********************************************/
/**                                         **/
/** - Definitions for the fonts             **/
/**                                         **/
/** - General definitions for the body and  **/
/**   the content.                          **/
/*********************************************/

/** Font Style - logo **/
.ftype_logo1 {
    font: 36px Tahoma;
    color: #b9a889;
}
.ftype_logo2 {
    font: 36px Tahoma;
    color: #e94f3b;
}
.ftype_logo3 {
    font: 36px Tahoma;
    color: #2a2724;
}

/** Font Style - titleA **/
.ftype_titleA1 {
    font: 24px Tahoma;
    color: #b9a889;
}
.ftype_titleA2 {
    font: 24px Tahoma;
    color: #e94f3b;
}
.ftype_titleA3 {
    font: 24px Tahoma;
    color: #2a2724;
}

/** Font Style - titleB **/
.ftype_titleB1 {
    font: 18px Tahoma;
    color: #b9a889;
}
.ftype_titleB2 {
    font: 18px Tahoma;
    color: #e94f3b;
}
.ftype_titleB3 {
    font: 18px Tahoma;
    font: Tahoma;
    color: #2a2724;
}

/** Font Style - titleC **/
.ftype_titleC {
    font: 24px Tahoma;
    color: #fff;
}

/** Font Style - contentA **/
.ftype_contentA {
    font: 16px Tahoma;
    color: #ffffff;
}

/** Font Style - contentB **/
.ftype_contentB {
    font: 16px Tahoma;
    color: #2a2724;
}
/** Font Style - contentC **/
.ftype_contentC {
    font: 16px Tahoma;
    color: #b9a889;
}

/** Font Style - success **/
.ftype_successA {
    font: italic 14px Tahoma;
    color: #5e5755;
}

/** Font Style - error **/
.ftype_errorA {
    font: italic 14px Tahoma;
    color: #b9a889;
}

/** Font Style - info **/
.ftype_infoA {
    font: italic 14px Tahoma;
    color: #ffffff;
}

/*********************************************/
/**                 INPUTS                  **/
/*********************************************/
input {
    background-color: #fff;
    color: #b2b2b1;
}

/*********************************************/
/**         TABLE, ROWS AND CELLS           **/
/*********************************************/

/** Table workspace **/
.workspace {
    -moz-box-shadow: 2px 2px 5px #b9a889;
    -webkit-box-shadow: 2px 2px 5px #b9a889;
    box-shadow: 2px 2px 5px #b9a889;
}

/** Pair rows **/
.workspace .row.content:nth-child(2n+1) {
    background-color: #dfd9c2;
}

/** Odd rows **/
.workspace .row.content {
    background-color: #f4f2ef;
}

/** Hover rows **/
.workspace .row.content:hover {
    background-color: #FFF;
}

/** Rows of the header section **/
.workspace .header {
    background-color: #2a2724;
}

/** Rows of the footer section **/
.workspace .footer {
    background-color: #f4f2ef;
}

/** Overlay **/
.fullOverlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #2a2724;
    opacity: .50;
    filter: Alpha(Opacity=50);
}

/*********************************************/
/**            CALENDAR STYLE               **/
/*********************************************/
/** Date picker size **/
.ui-datepicker {
    width: 210px; /** 7 days a week x 30px each block **/
    background-color: #FFF;
}
.ui-datepicker table {
    width: 100%;
}

/** Header **/
.ui-datepicker-header {
    background-color: #2a2724;
}

.ui-datepicker-calendar thead {
    display: none;
}

.ui-datepicker-title {
    font: 16px Tahoma;
    color: #FFF;
    line-height: 30px;
    text-align: center;
}
.ui-datepicker-prev, .ui-datepicker-next {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    font-size: 0;
}
.ui-datepicker-prev:hover, .ui-datepicker-next:hover {
    /** background-position: -30px 0 !important; **/
}
.ui-datepicker-prev {
    float: left;
    background: url('./../../../../public/images/ArrowToLeft.png') no-repeat;
}
.ui-datepicker-next{
    float: right;
    background: url('./../../../../public/images/ArrowToRight.png') no-repeat;
}

/** Calendar Content **/
.ui-datepicker tr {
    height: 30px;
}
/** Pair days **/
.ui-datepicker td {
    width: 30px;
    text-align: center;
    background-color: #dfd9c2;
}

/** Odd days **/
.ui-datepicker td.odd {
    background-color: #f4f2ef;
}

/** Hovered days **/
.ui-datepicker-calendar .ui-state-hover {
    background: #2a2724;
    color: #FFF !important;
}
/** Active days **/
.ui-datepicker-calendar .ui-state-active {
    background: #e94f3b;
    color: #FFF !important;
}

/** Font styles for inside the days **/
.ui-datepicker .ui-datepicker-calendar a, .ui-datepicker .ui-datepicker-calendar span {
    display: inline-block;
    font: 16px Tahoma;
    width: 30px;
    height: 30px;
    line-height: 30px;
}

.ui-datepicker .ui-datepicker-calendar a {
    text-decoration: none;
    color: #5e5755;
}

.ui-datepicker .ui-datepicker-calendar span {
    color: #b9a889;
}

/**********************************************************************************************************************/
/**                                                    BUTTONS                                                       **/
/**********************************************************************************************************************/

.mindCraft-ui-button {
    width: 30px;
    height: 30px;
    display: inline-block;
}

.mindCraft-ui-button.clickable {
    cursor: pointer;
}
.mindCraft-ui-button.mark {
    background-position: -30px 0 !important;
}

.mindCraft-ui-button.multi.mark {
    background-position: 0 -30px !important;
}

.mindCraft-ui-button.multi:hover {
    background-position: -30px 0 !important;
}

.mindCraft-ui-button.multi.mark:hover {
    background-position: -30px -30px !important;
}

.mindCraft-ui-button-select {
    background: url('./../../../../public/images/Postpond.png') no-repeat;
}
.mindCraft-ui-button-edit {
    background: url('./../../../../public/images/Edit.png') no-repeat;
}
.mindCraft-ui-button-delete {
    background: url('./../../../../public/images/Delete.png') no-repeat;
}
.mindCraft-ui-button-checkbox {
    background: url('./../../../../public/images/CheckBox.png') no-repeat;
}
.mindCraft-ui-button-important {
    background: url('./../../../../public/images/Important.png') no-repeat;
}
.mindCraft-ui-button-urgent{
    background: url('./../../../../public/images/Urgent.png') no-repeat;
}
.mindCraft-ui-button-timing {
    background: url('./../../../../public/images/Timing.png') no-repeat;
}
.mindCraft-ui-button-circular {
    background: url('./../../../../public/images/Routine.png') no-repeat;
}

/**********************************************************************************************************************/
/**                                                    SHADOWS                                                       **/
/**********************************************************************************************************************/
.shadowed {
    -webkit-filter: drop-shadow(1px 1px 2px #5e5755);
    filter: url('./shadow.svg#drop-shadow');
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#5e5755')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=0, OffY=0, Color='#5e5755')";
}

.shadowedOnHover:hover {
    -webkit-filter: drop-shadow(0px 0px 6px #b9a889);
    filter: url('./shadow.svg#drop-hover-shadow');
    -ms-filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#b9a889')";
    filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=2, OffY=2, Color='#b9a889')";
}
