# Global Htaccess file.
#
# Project: The Mindcraft Project
# User: Hector Ordonez
# Date: 18/06/13 21:00

#######################
##### DEVELOPMENT #####
#######################

php_flag display_errors on
php_value error_reporting 32767

# RewriteEngine tells Apache to process Rewrite commands.
RewriteEngine On

# RewriteBase defines what is going to be the base url. So localhost/index.php becomes localhost/hecnel/index.php
RewriteBase /projects/themindcraftproject

# Error pages for fatal errors redirection - Authentication failed
ErrorDocument 401 http://localhost/projects/themindcraftproject/error/authFailed
# Error pages for fatal errors redirection - Forbidden access
ErrorDocument 403 http://localhost/projects/themindcraftproject/error/accessForbidden
# Error pages for fatal errors redirection - Page not found
ErrorDocument 404 http://localhost/projects/themindcraftproject/error/resourceNotFound
# Error pages for fatal errors redirection - Internal Server Error
ErrorDocument 500 http://localhost/projects/themindcraftproject/error/internalServerError

# Redirecting in case request starts with www.
RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
RewriteRule ^(.*)$ http://%1 [R=301,L]

# Denies access to all php files to everyone.
<Files *.php> 
    deny from all
</Files>

# Exception to previous rule - index.php is allowed by everyone.
<Files "index.php">
    Allow From All
</Files>

# Exception to previous rule - CronJobManager.php is allowed by server.
<Files "CronJobManager.php">
    Order Deny,Allow
    Deny From All
    Allow From 127.0.0.1
</Files>

# Redirecting requests if not to a file or link.
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]

######################
##### PRODUCTION #####
######################

# php_flag display_errors on
# php_value error_reporting 32767
# 
# # RewriteEngine tells Apache to process Rewrite commands.
# RewriteEngine On
# 
# # RewriteBase defines what is going to be the base url. So localhost/index.php becomes localhost/hecnel/index.php
# RewriteBase /
# 
# # Error pages for fatal errors redirection - Authentication failed
# ErrorDocument 401 error/authFailed
# # Error pages for fatal errors redirection - Forbidden access
# ErrorDocument 403 error/accessForbidden
# # Error pages for fatal errors redirection - Page not found
# ErrorDocument 404 error/resourceNotFound
# # Error pages for fatal errors redirection - Internal Server Error
# ErrorDocument 500 error/internalServerError
# 
# # Redirecting in case request starts with www.
# RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
# RewriteRule ^(.*)$ http://%1 [R=301,L]
# 
# # Denies access to all php files to everyone.
# <Files *.php> 
#     deny from all
# </Files>
# 
# # Exception to previous rule - index.php is allowed by everyone.
# <Files "index.php">
#     Allow From All
# </Files>
# 
# # Exception to previous rule - CronJobManager.php is allowed by server.
# <Files "CronJobManager.php">
#     Order Deny,Allow
#     Deny From All
#     Allow From 127.0.0.1
# </Files>
# 
# # Redirecting requests if not to a file or link.
# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-l
# RewriteRule ^(.+)$ index.php?url=$1 [QSA,L]