/**
 * Project: The Mindcraft Project
 * Description: Main CSS Library
 * User: Hector Ordonez
 * Date: 22/07/13 10:00
 * Update: 22/08/2013 Hector Ordonez -  Modified Style in order to match the new Main page. Now Main page shows the main
                                        options of the User: brainstorm, work out and action.
 */

#welcome {
    margin: 95px 0 20px 0;
    text-align: center;
    position: relative;
    z-index: 1;
}

#welcome div {
    display: inline;
}

#mainMenu #spinningCircle {
    position: absolute;
    left: 50%;
    margin-left: -165px;
    
    background: #FFF url('./../../../../public/images/Menu.png') no-repeat;
    height: 330px;
    width: 330px;
    z-index: 0;
}

#mainMenu #processActions {
    height: 330px;
    width: 330px;
    
    margin: 0 auto;
}

#mainMenu a {
    position: relative;
    background-repeat: no-repeat;

    width: 75px;
    height: 75px;

    display: block;
}

#mainMenu .brainstorm {
    top: 23px;
    left: 22px;
    background: url('./../../../../public/images/BrainStorm.png') no-repeat;
}

#mainMenu .workOut{
    top: 11px;
    left: 272px;
    background: url('./../../../../public/images/WorkOut.png') no-repeat;
}

#mainMenu .perform{
    top: 120px;
    left: 95px;
    background: url('./../../../../public/images/PerForm.png') no-repeat;
}