/**
 * Project: The Mindcraft Project
 * Description: Main CSS Library
 * User: Hector Ordonez
 * Date: 22/07/13 10:00
 * Update: 22/08/2013 Hector Ordonez -  Modified Style in order to match the new Main page. Now Main page shows the main
                                        options of the User: brainstorm, work out and action.
 */

#welcome {
    position: relative;
    margin: 95px 0 20px 0;
    text-align: center;
    z-index: 1;
}

#mainMenu #spinningCircle {
    position: absolute;
    left: 50%;
    margin-left: -165px;

    background: #FFF url('./../../../../public/images/Menu.png') no-repeat;
    height: 330px;
    width: 330px;
    z-index: 0;
}

#mainMenu #processActions {
    position: relative;
    width: 330px;
    margin: 0 auto;
    z-index: 1;
}

#mainMenu #processActions img {
    width: 60px;
    height: 60px;
}

#mainMenu #processActions .text {
    position: relative;
    top: -20px;
    left: 41px;
}

#mainMenu #processActions div.action {
    position: relative;
}

#mainMenu #processActions .brainStorm {
    top: 29px;
    left: 24px;
}

#mainMenu #processActions .workOut{
    top: -3px;
    left: 281px;
}

#mainMenu #processActions .perForm{
    top: 98px;
    left: 99px;
}







































































/**

#mainMenu #processActions a {
    position: relative;
    background-repeat: no-repeat;
    display: block;
    text-decoration: none;
}

#mainMenu #processActions div {
    display: inline;
}

#mainMenu .brainstorm {
    top: 23px;
    left: 22px;
}

#mainMenu .workOut{
    top: 11px;
    left: 272px;
}

#mainMenu .perform{
    top: 120px;
    left: 95px;
}

**/