/** RESET CSS **/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********************************************/
/**             DEFAULT CSS                 **/
/*********************************************/
/**                                         **/
/** - Definitions for the header and the    **/
/**   footer.                               **/
/**                                         **/
/** - Definitions for the fonts             **/
/**                                         **/
/** - General definitions for the body and  **/
/**   the content.                          **/
/*********************************************/

/*********************************************/
/**             HEADER                      **/
/*********************************************/

#header {
    background-color: #575756;
    width: 100%;
    height: 100px;
}

#header #logo {
    position: absolute;
    top: 10px;
    left: 50px;
    background: url('./../../public/images/logo.png');
    width: 339px;
    height: 134px;
    float:left;

    cursor: pointer;
}

/** Left menu **/
#header #leftPanel {
    position: absolute;
    top: 30px;
    right: 150px;
    /** background-color:#a9c1c9; **/
}
#header #leftPanel a {
    display:block;
    background-repeat: no-repeat;
    float: left;

    width: 50px;
    height: 50px;
}
#header #leftPanel a:hover {
    background-position: -50px 0px;
}
#header #leftPanel .brainstorm {
    background: url('./../../public/images/brainstorm.png');
}
#header #leftPanel .workOut {
    background: url('./../../public/images/workOut.png');
}
#header #leftPanel .action {
    background: url('./../../public/images/action.png');
}
#header #leftPanel .profile{
    background: url('./../../public/images/profile.png');
}

/** Right menu **/
#header #rightPanel {
    position: absolute;
    top: 60px;
    right: 15px;
}
#header #rightPanel a {
    display:block;
    background-repeat: no-repeat;
    float: left;

    width: 30px;
    height: 30px;
}
#header #rightPanel a:hover {
    background-position: 30px 0px;
}

#header #rightPanel .logIn, #header #rightPanel .logOut {
    background: url('./../../public/images/access.png');
}
#header #rightPanel .settings {
    background: url('./../../public/images/settings.png');
}

.separation_1 {
background-color: #AAA;
height: 5px;
border: 1px solid #888888;
    }


/*********************************************/
/**             CONTENT                     **/
/*********************************************/

body {
    overflow: hidden;
}
#content {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    background: white;

}

/*********************************************/
/**             FONTS                       **/
/*********************************************/

/** Font Style - Normal **/
body {
    font: 12px "Lucida Sans Unicode", Arial;
    color: #222;
}

/** Font Style - Titles **/
h1, .font1 {
    font: bold 16px "Lucida Sans Unicode", Arial;
    color: #575756;
}

/** Font Style - Sub Titles **/
h2, .font2 {
    font: bold 14px "Lucida Sans Unicode", Arial;
    color: #B2b2B1;
}

/** Font Style - Normal Error **/
.font_error {
    font: italic 12px "Lucida Sans Unicode", Arial;
    color: #c90600;
}

/*********************************************/
/**             FOOTER                      **/
/*********************************************/

#footer {
}

#admin_footer {
    position: fixed;
    bottom: 0px;
    left: 0px;

    width: 100%;
    height: 30px;
    background-color: #000;
}

#admin_footer a {
    display:block;
    background-repeat: no-repeat;
    float: left;

    width: 50px;
    height: 50px;
}

#admin_footer a:hover {
    background-position: -50px 0px;
}

#admin_footer .usersManagement {
    background: url('./../../public/images/action.png');
}
#admin_footer .releaseHistory {
    background: url('./../../public/images/workOut.png');
}