/** RESET CSS **/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********************************************/
/**             DEFAULT CSS                 **/
/*********************************************/
/**                                         **/
/** - Definitions for the header and the    **/
/**   footer.                               **/
/**                                         **/
/** - Definitions for the fonts             **/
/**                                         **/
/** - General definitions for the body and  **/
/**   the content.                          **/
/*********************************************/

/*********************************************/
/**             HEADER                      **/
/*********************************************/

#header {
    background-color: #575756;
    width: 100%;
    height: 90px;
}

#header #logo {
    position: absolute;
    top: 18px;
    left: 50px;
    background: url('./../../public/images/logo2.png');
    width: 322px;
    height: 135px;
    float:left;
}

/** Left menu **/
#header #leftPanel {
    position: absolute;
    top: 30px;
    right: 150px;
    /** background-color:#a9c1c9; **/
}
#header #leftPanel a {
    display:block;
    background-repeat: no-repeat;
    float: left;
}
#header #leftPanel .brainstorm {
    background: url('./../../public/images/idea_glow.png');
    width: 53px;
    height: 60px;
}
#header #leftPanel .ideaToAction {
    background: url('./../../public/images/target_glow.png');
    width: 53px;
    height: 60px;
}
#header #leftPanel .brainstorm:hover {
    background: url('./../../public/images/idea.png');
}
#header #leftPanel .ideaToAction:hover {
    background: url('./../../public/images/target.png');
}

/** Right menu **/
#header #rightPanel {
    position: absolute;
    top: 30px;
    right: 34px;
}
#header #rightPanel a {
    display:block;
    background-repeat: no-repeat;
    float: left;
}
#header #rightPanel .loggedIn {
    background: url('./../../public/images/brainstorming_glow.png');
    width: 53px;
    height: 60px;
}
#header #rightPanel .loggedOut {
    background: url('./../../public/images/brainstorming2_glow.png');
    width: 53px;
    height: 60px;
}
#header #rightPanel .releaseHistory {
    background: url('./../../public/images/brain_glow.png');
    width: 53px;
    height: 60px;
}

#header #rightPanel .loggedIn:hover {
    background: url('./../../public/images/brainstorming.png');
}
#header #rightPanel .loggedOut:hover {
    background: url('./../../public/images/brainstorming2.png');
}
#header #rightPanel .releaseHistory:hover {
    background: url('./../../public/images/brain.png');
}

.separation_1 {
background-color: #AAA;
height: 5px;
border: 1px solid #888888;
    }


/*********************************************/
/**             CONTENT                     **/
/*********************************************/

#content {
    width: 80%;
    margin: 0 auto;
    padding: 25px;
    background: white;

}

/*********************************************/
/**             FONTS                       **/
/*********************************************/

/** Font Style - Normal **/
body {
    font: 12px "Lucida Sans Unicode", Arial;
    color: #222;
}

/** Font Style - Titles **/
h1, .font1 {
    font: bold 16px "Lucida Sans Unicode", Arial;
    color: #575756;
}

/** Font Style - Sub Titles **/
h2, .font2 {
    font: bold 14px "Lucida Sans Unicode", Arial;
    color: #B2b2B1;
}

/** Font Style - Normal Error **/
.font_error {
    font: italic 12px "Lucida Sans Unicode", Arial;
    color: #c90600;
}

/*********************************************/
/**             FOOTER                      **/
/*********************************************/
#footer {
}