/** RESET CSS **/
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

html {
    overflow: auto;
}

html, body {
    height: 100%;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/*********************************************/
/**             DEFAULT CSS                 **/
/*********************************************/
/**                                         **/
/** - Definitions for the header and the    **/
/**   footer.                               **/
/**                                         **/
/** - Definitions for the fonts             **/
/**                                         **/
/** - General definitions for the body and  **/
/**   the content.                          **/
/*********************************************/

/*********************************************/
/**             HEADER                      **/
/*********************************************/

#header {
    width: 100%;
    min-width: 1025px;
    height: 100px;
    margin-bottom: 45px;
}

#header #logo {
    position: absolute;
    top: 20px;
    left: 50px;
    background: url('./../../public/images/logo.png');
    width: 280px;
    height: 70px;
    float: left;

    cursor: pointer;
}

/** Right menu **/
#header #headerPanel {
    float: right;
    margin-top: 60px;
    margin-right: 50px;
}

#header #headerPanel a {
    display: block;
    float: left;
    margin-right: 100px;

    width: 100px;
    height: 35px;
}

#header #headerPanel a:hover {
    background-position: -100px 0;
}

#header #headerPanel .learnMore {
    background: url('./../../public/images/LearnMore.png') no-repeat;
}

#header #headerPanel .signUp {
    background: url('./../../public/images/SignUp.png') no-repeat;
}

#header #headerPanel .profile {
    background: url('./../../public/images/Profile.png') no-repeat;
}

#header #headerPanel .logOut {
    background: url('./../../public/images/LogOut.png') no-repeat;
}


.separation_1 {
    background-color: #AAA;
    height: 5px;
    border: 1px solid #888888;
}

/*********************************************/
/**             CONTENT                     **/
/*********************************************/

body {
    min-width: 1025px;
    min-height: 550px;
    overflow: hidden;
}

#contentWrapper {
}

#wrappedContentLeft {
    margin-top: 80px;
    margin-left: 135px;

    min-height: 1px;
    width: 70px;
    float: left;
}
#wrappedContentMain {
    float: left;
    width: 80%;
}

#content {
    position: absolute;
    max-height: 800px;
    min-height: 300px;
    height: 80%;
    width: 80%;
    margin: 0 auto;
    padding: 2px;
    overflow: auto;
}
#nonLogged_content {
    background: white;
    margin: 0 auto;
    border-radius: 50px;
    min-height: 35%;
    width: 80%;
}

input {
    background-color: #f4f2ef;
    /*border: 1px solid #b2b2b1;*/
    color: #b2b2b1;
}

/*********************************************/
/**             FONTS                       **/
/*********************************************/

/** Font Style - Normal **/
body, .font_normal {
    font: 12px Tahoma, Arial;
    color: #222;
}

/** Font Style - Titles **/
h1, .font_title {
    font: 30px "Harlow Solid Italic", Arial;
    color: #333;
}

/** Font Style - Sub Titles **/
h2, .font_subTitle {
    font: bold 14px "Lucida Sans Unicode", Arial;
    color: #B2b2B1;
}

/** Font Style - Normal Error **/
.font_error {
    font: italic 12px "Lucida Sans Unicode", Arial;
    color: #c90600;
}

/** Font Style - Normal Success **/
.font_success {
    font: italic 12px "Lucida Sans Unicode", Arial;
    color: #008b33;
}

/*********************************************/
/**             FOOTER                      **/
/*********************************************/

#footer {
    min-width: 1025px;
}

#admin_footer {
    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    min-width: 1025px;
    height: 50px;
    background-color: #000;
}

#admin_footer #adminWelcome {
    float: left;
}

#admin_footer #adminWelcome #captainAdminHere {
    position: relative;
    bottom: 35px;
    left: 20px;

    background: url('./../../public/images/TMP_admin.png') no-repeat;
    float:left;
    display: block;
    width: 75px;
    height: 75px;
}

#admin_footer #adminWelcome #helloMe{
    position: relative;
    float: left;
    top: -11px;
    left: 5px;
}

#admin_footer #adminActions {
    float: right;
}

#admin_footer #adminActions a {
    background-repeat: no-repeat;
    display: block;
    float:left;
    margin-right: 20px;
    margin-top: 10px;

    width: 30px;
    height: 30px;
}

#admin_footer #adminActions a:hover {
    background-position: -30px 0;
}

#admin_footer #adminActions .usersManagement {
    background: url('./../../public/images/TMP_userManagement.png');
}

#admin_footer #adminActions .releaseHistory {
    background: url('./../../public/images/TMP_settings.png');
}