/**
 * Project: Organizator
 * Description: Action CSS Library
 * User: Hector Ordonez
 * Date: 02/08/13 19:00
 */

/**************************/
/** PENDING ACTIONS GRID **/
/**************************/

/**
 * Id of the element that contains the pending actions table.
**/
#gridWrapper {
}

/**
 * Id of the Table that contains the pending actions  table.
**/
#action_grid {
    width: 100%;
}

/**
 * Table columns
**/
#action_grid .col_id {
}

#action_grid .col_title {
}

#action_grid .col_priority {
    width: 70px;
}

#action_grid .col_actions {
    width: 50px;
}

#action_grid .col_date_creation {
    width: 90px;
}

#action_grid .row .id, #action_grid .row .col_id {
    display: none;
}

/**
 * Action actions
**/
#action_grid .actions .finishAction {
    background: url('./../../../../public/images/TEMP_edit.png') no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    font-size: 0;
    cursor: pointer;
}

#action_grid .actions .deleteAction {
    background: url('./../../../../public/images/delete.png') no-repeat;
    width: 16px;
    height: 16px;
    display: block;
    float: left;
    font-size: 0;
    cursor: pointer;
}

/***************************/
/** FINISHED ACTIONS GRID **/
/***************************/

/**
 * Id of the element that contains the pending actions table.
**/
#oldGridWrapper {
}

/**
 * Id of the Table that contains the pending actions  table.
**/
#oldAction_grid {
    width: 100%;
    margin-top: 100px;
}

/**
 * Table columns
**/
#oldAction_grid .col_id {
}

#oldAction_grid .col_title {
}

#oldAction_grid .row .id, #oldAction_grid .row .col_id {
    display: none;
}
