/**
 * Project: Organizator
 * Description: Release History CSS Library
 * User: Hector Ordonez
 * Date: 23/07/13 10:00
 */

ul {
    list-style-type: disc;
    margin: 10px 20px;
}

ul li {
    display: list-item;
    text-align: -webkit-match-parent;
}