/**
 * Project: The Mindcraft Project
 * Description: SignUp CSS Library
 * User: Hector Ordonez
 * @date 22/01/14 15:00
 */

/** General styles **/
#signUpBody {
    text-align: center;
}

#signUpNow {
    font-size: 27px;
}

#signUpBlock {
    margin-top: 60px;
}

/** Styles for the Inputs, the error boxes and their containers **/
#signUpBlock input {
    width: 500px;
    height: 30px;
    text-align: center;
}

#signUpBlock .errorText {
    height: 30px;
}


/** Styles for the bottom box, which contains the SignUp! text, the images and their containers **/
#signUpSubmitBox {
    margin-top: 30px;
}

#signUpImageBox, #signUpSubmitText {
    position: relative;
    margin: 0 auto;
}

#signUpImageBox {
    top: -53px;
    width: 120px;
    z-index: 0;
}

#signUpSubmitText {
    width: 120px;
    height: 30px;
    z-index: 1;
    cursor: pointer;
}

/** Styles for the new User and the crowd **/

#you, #signUpped {
    position: absolute;
}

#you {
    right: 75px;
}

#signUpped {
    right: 0;
}

/** Styles for the Sign Up confirmation **/
#signUpConfirmation {
    display: none;
    text-align: center;
}

#signUpConfirmation #confirmationHeader {
    font-size: 24px;
}