/**
 * Project: The Mindcraft Project
 * Description: SignUp CSS Library
 * User: Hector Ordonez
 * @date 22/01/14 15:00
 */

/** All centered! **/
#signUpBody {
    text-align: center;
}

/** Styles for the title **/
#signUpTitle {
    height: 50px;
    margin-bottom: 65px;
}

#signUpNow {
    font-size: 27px;
}

/** Styles for the Inputs **/
#signUpBlock input {
    width: 500px;
    height: 30px;
    text-align: center;
}

/** Styles for the error section **/
#signUpBlock .errorText {
    height: 30px;
}

/** Styles for the bottom box, which contains the SignUp! text, the images and their containers **/
#signUpSubmitBox {
    margin-top: 30px;
    height: 90px;
}

#signUpImageBox, #signUpSubmitText {
    position: relative;
    margin: 0 auto;
}

#signUpImageBox {
    top: -53px;
    width: 120px;
    height: 50px;
    z-index: 0;
}

#signUpSubmitText {
    width: 120px;
    z-index: 1;
    cursor: pointer;
}

/** Styles for the new User and the crowd images**/

#you, #signUpped {
    position: absolute;
}

#you {
    right: 75px;
}

#signUpped {
    right: 0;
}








/** Styles for the Sign Up confirmation **/
#signUpConfirmation {
    display: none;
    text-align: center;
}

#signUpConfirmation #confirmationHeader {
    font-size: 24px;
}