/** HEADER **/
#header, #footer {
    background: url(https://addons.cdn.mozilla.net/_files/111012/preview_small.jpg) repeat;
}
#header #mainTitle {
    font: 30px verdana;
    color: #D10;
    text-align:center;
}

#content {
}

.exceptionTable {
    background: url(https://addons.cdn.mozilla.net/_files/111012/preview_small.jpg) repeat;
    width: 800px;
    margin: 0 auto;
    padding: 10px;
    border-radius: 10px;
}

.exceptionLabel {
    background-color: #FFFFFF;
    border: 2px solid #444;
    width: 150px;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}

.exceptionValue {
    background-color: #FFFFFF;
    border: 2px solid #444;
    font-size: 15px;
    padding: 8px;
    color: #F00;
}

.backtraceTable {
    background: url(https://addons.cdn.mozilla.net/_files/111012/preview_small.jpg) repeat;
    width: 600px;
    margin: 10px auto;
    padding: 2px;
    border-radius: 5px;
}

.backtraceLabel {
    background-color: #FFFFFF;
    border: 2px solid #444;
    width: 150px;
    font-size: 15px;
    font-weight: bold;
    padding: 4px;
}

.backtraceValue {
    background-color: #FFFFFF;
    border: 2px solid #444;
    font-size: 10px;
    color: #F00;
    padding: 4px;
}