/**
 * Project: The Mindcraft Project
 * Description: mindFlow CSS Library
 * User: Hector Ordonez
 * Date: 29/01/14 17:30
 */

/** initStep contains the starting step, which is just required by JavaScript, to know which step load first.       **/
/** Once page is loaded, is used no more.  **/
#initStep {
    display: none;
}

/** Styles for the flow selection in the top of the mindFlow page. **/
#flowMenu {
    position: relative;
    height: 100px;
    width: 1000px;
    margin: 10px auto 0 auto;
}

#flowMenu ul {
    position: absolute;
}

#flowMenu ul li .text {
    display: inline;
}

#flowMenu ul li a {
    cursor: pointer;
    text-decoration: none;
}

#flowMenu .flowOption, #flowMenu .miniFlowOption {
    display: inline-block;
    width: 161px;
}

#flowMenu .flowOption .text {
    position: relative;
    left: -26px;
}

#flowMenu .miniFlowOption .text {
    position: relative;
    left: -10px;
}

#flowMenu .flowOption img {
    width: 60px;
    height: 60px;
}

#flowMenu  .miniFlowOption img {
    width: 43px;
    height: 43px;
}

#flowLine {
    position: absolute;
    width: calc(100% - 5px);
    height: 25px;
    margin: 20px 0 0 5px;
    background-color: #e94f3b;
}

#flowLine #pastFlow {
    float: left;
    width: 0;
    height: 100%;
    background-color: #5e5755;
}

#flowLine #futureFlow {
    float: right;
    width: 100%;
    height: 100%;
    background-color: #b9a889;
}

/** Style for the step container **/
#stepContent {
    overflow: hidden;
}

/**********************************************************************************************************************/
/**                                             All section styles                                                   **/
/**********************************************************************************************************************/

/** Grids **/
.mindFlowGrid {
    width: 950px;
    margin: 0 auto;
    max-height: 330px;
    overflow-y: auto;
    padding: 5px;
}

/** Id columns are always hidden here **/
.mindFlowGrid .row .col_id {
    display: none;
}

/** Action column styles **/
.mindFlowGrid .actionBox {
    position: relative;
}

.mindFlowGrid .actionBox div {
    float: left;
    width: 45px;
}

.mindFlowGrid .action a {
    display: block;
    font-size: 0;
}

/**********************************************************************************************************************/
/**                                          BrainStorm section styles                                               **/
/**********************************************************************************************************************/

/** Styles for the footer section that contains the new idea form. **/
#brainStormGrid #formNewIdea {
    display: inline;
}

#brainStormGrid #formNewIdea input {
    height: 30px;
    width: 100%;
    border: none;
    text-indent: 35px;
}

#brainStormGrid .newIdeaCell {
    width: 100%;
}

#brainStormGrid #linkNewIdea {
    position: absolute;
    background: url('./../../../../public/images/Plus.png');
    width: 15px;
    height: 15px;
    margin: 8px 0 0 12px;
}

/** Edit Idea styles **/

#brainStormGrid #formEditIdea #inputEditIdeaTitle {
    width: calc(100% - 20px);
    height: 30px;
    line-height: 30px;
}

/** Column styles **/
#brainStormGrid .col_title {
    text-indent: 20px;
    width: 710px;
}

#brainStormGrid .col_actions {
    width: 90px; /** 2 actions x 45 each **/
}

#brainStormGrid .col_date_creation {
    width: 150px;
}

/**********************************************************************************************************************/
/**                                          Select section styles                                                **/
/**********************************************************************************************************************/

/** Styles for the footer section that contains the new idea form. **/
#selectGrid #formNewIdea {
    display: inline;
}

#selectGrid #formNewIdea input {
    height: 30px;
    width: 100%;
    border: none;
    text-indent: 35px;
}

#selectGrid .newIdeaCell {
    width: 100%;
}

#selectGrid #linkNewIdea {
    position: absolute;
    background: url('./../../../../public/images/Plus.png');
    width: 15px;
    height: 15px;
    margin: 8px 0 0 12px;
}

/** Edit Idea styles **/

#selectGrid #formEditIdea #inputEditIdeaTitle {
    width: calc(100% - 20px);
}

/** Column styles **/
#selectGrid .col_title {
    text-indent: 20px;
    width: 665px;
}

#selectGrid .col_selected {
    display: none;
}

#selectGrid .col_actions {
    width: 135px; /** 3 actions x 45 each **/
}

#selectGrid .col_date_creation {
    width: 150px;
}

/**********************************************************************************************************************/
/**                                          Prioritize section styles                                               **/
/**********************************************************************************************************************/

/** Column styles **/
#prioritizeGrid .col_title {
    text-indent: 20px;
    width: 710px;
}

#prioritizeGrid .col_actions {
    width: 90px; /** 2 actions x 45 each **/
}

#prioritizeGrid .col_date_creation {
    width: 150px;
}

#prioritizeGrid .col_important, #prioritizeGrid .col_urgent {
    display: none;
}

/**********************************************************************************************************************/
/**                                          ApplyTime section styles                                                **/
/**********************************************************************************************************************/

/** Column styles **/
#applyTimeGrid .col_title {
    text-indent: 20px;
    width: 710px;
}

#applyTimeGrid .col_type {
    display: none;
}

#applyTimeGrid .col_actions {
    width: 90px; /** 2 actions x 45 each **/
}

#applyTimeGrid .col_time{
    width: 150px;
}

/** ApplyTime Action icons **/
#applyTimeGrid .action .setTodoAction {
    background: url('./../../../../public/images/Timing.png') no-repeat;
}

#applyTimeGrid .action .setRoutineAction {
    background: url('../../../../public/images/Routine.png') no-repeat;
}

/** showRoutinesWrapper style **/
#showRoutinesWrapper {
    margin: 10px 0 0 50px;
    height: 30px;
    display: none;
    cursor: pointer;
}
#showRoutinesWrapper span {
    height: 30px;
    line-height: 30px;
    float: left;
}

/** ApplyTime dialogs style **/

/** Container **/
#applyTimeDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

/** To do dialog **/
#setTodoDialogWrapper {
    position: fixed;
    width: 210px;
    height: 360px;
    padding: 30px;
    background-color: rgba(42, 39, 36, 0.5);
    top: 50%;
    left: 50%;
    margin-left: -135px; /** width + (padding x2) / 2 **/
    margin-top: -210px; /** height + (padding x2) / 2 **/ 
    z-index:11;
    display: none;
}

#setTodoDialogWrapper #datePickerWrapper {
    height: 210px; /** This forces the date picker to be 210px (30px x 6 weeks + header) even when the amount of weeks the displayed month has is less than 6 **/
}

#setTodoDialogWrapper #timeRangeWrapper .text {
    text-indent: 5px;
    line-height: 30px;
    float: left;
}

#setTodoDialogWrapper #timeRangeWrapper #fromSelectionWrapper,
#setTodoDialogWrapper #timeRangeWrapper #tillSelectionWrapper {
    height: 30px;
    cursor: pointer;
}
#setTodoDialogWrapper #timeRangeWrapper .inputs {
    float: right;
}
#setTodoDialogWrapper #timeRangeWrapper .inputs div {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;

    /** Disabling text selection here **/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#setTodoDialogWrapper #fromSelectionWrapper .inputs .hours{
    background: url('../../../../public/images/HourPicker1.png') no-repeat;
}
#setTodoDialogWrapper #fromSelectionWrapper .inputs .minutes{
    background: url('../../../../public/images/HourPicker2.png') no-repeat;
}
#setTodoDialogWrapper #tillSelectionWrapper .inputs .hours{
    background: url('../../../../public/images/HourPicker2.png') no-repeat;
}
#setTodoDialogWrapper #tillSelectionWrapper .inputs .minutes{
    background: url('../../../../public/images/HourPicker1.png') no-repeat;
}

#setTodoDialogWrapper #submitTodo {
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#setTodoInfo, #setRoutineInfo {
    background-color: #dfd9c2;
}

/** Routine dialog **/
#setRoutineDialogWrapper {
    position: fixed;
    width: 210px;
    height: 360px;
    padding: 30px;
    background-color: rgba(42, 39, 36, 0.5);
    top: 50%;
    left: 50%;
    margin-left: -135px; /** width + (padding x2) / 2 **/
    margin-top: -210px; /** height + (padding x2) / 2 **/
    z-index:11;
    display: none;
}

#setRoutineDialogWrapper #weeklyRepetitionWrapper {
    height: 30px;
    width: 100%;
}
#setRoutineDialogWrapper #weeklyRepetitionWrapper span.left {
    float: left;
    line-height: 30px;
    text-indent: 5px;
}
#setRoutineDialogWrapper #weeklyRepetitionWrapper span.right {
    float: right;
    line-height: 30px;
    width: 60px;
    height: 30px;
    text-align: center;
}
#setRoutineDialogWrapper #weeklyRepetitionWrapper #weeklyRepetitionSelector {
    background: url('../../../../public/images/HourPicker1.png') no-repeat;
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;

    /** Disabling text selection here **/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#setRoutineDialogWrapper #weekdaysSelectionWrapper {
    height: 60px;
}
#setRoutineDialogWrapper #weekdaysSelectionWrapper p {
    height: 30px;
    line-height: 30px;
    text-indent: 5px;
}

#setRoutineDialogWrapper #weekdaysSelectionWrapper ul li{
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    cursor: pointer;
}
#setRoutineDialogWrapper #weekdaysSelectionWrapper ul li:nth-child(2n+1) {
    background-color: #dfd9c2;
}
#setRoutineDialogWrapper #weekdaysSelectionWrapper ul li {
    background-color: #f4f2ef;
}
#setRoutineDialogWrapper #weekdaysSelectionWrapper ul li.selected {
    background-color: #2a2724;
}

#setRoutineDialogWrapper #dateRangeWrapper #startsSelectionWrapper, #setRoutineDialogWrapper #dateRangeWrapper #finishesSelectionWrapper {
    height: 30px;
}

#setRoutineDialogWrapper #dateRangeWrapper label {
    float: left;
    padding-left: 5px;
    line-height: 30px;
}
#setRoutineDialogWrapper #dateRangeWrapper .datePickerWrapper{
    float: right;
    height: 30px;
    width: 90px;
}
#setRoutineDialogWrapper #startDate{
    background-color: #dfd9c2;
}
#setRoutineDialogWrapper #finishDate{
    background-color: #f4f2ef;
}
#setRoutineDialogWrapper .datePickerWrapper input{
    text-align: center;
    width: 100%;
    height: 100%;
}

.submitApplyTime {
    width: 100%;
    text-align: center;
}
.submitApplyTime a{
    height: 30px;
    line-height: 30px;
    cursor: pointer;
}

#setRoutineDialogWrapper #timeRangeWrapper .text {
    text-indent: 5px;
    line-height: 30px;
    float: left;
}

#setRoutineDialogWrapper #timeRangeWrapper #fromSelectionWrapper,
#setRoutineDialogWrapper #timeRangeWrapper #tillSelectionWrapper {
    height: 30px;
    cursor: pointer;
}
#setRoutineDialogWrapper #timeRangeWrapper .inputs {
    float: right;
}
#setRoutineDialogWrapper #timeRangeWrapper .inputs div {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;

    /** Disabling text selection here **/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#setRoutineDialogWrapper #fromSelectionWrapper .inputs .hours{
    background: url('../../../../public/images/HourPicker1.png') no-repeat;
}
#setRoutineDialogWrapper #fromSelectionWrapper .inputs .minutes{
    background: url('../../../../public/images/HourPicker2.png') no-repeat;
}
#setRoutineDialogWrapper #tillSelectionWrapper .inputs .hours{
    background: url('../../../../public/images/HourPicker2.png') no-repeat;
}
#setRoutineDialogWrapper #tillSelectionWrapper .inputs .minutes{
    background: url('../../../../public/images/HourPicker1.png') no-repeat;
}

/**********************************************************************************************************************/
/**                                          PerForm section styles                                                  **/
/**********************************************************************************************************************/

/** PerForm Layout styles **/
#perFormLayout {
    height: 615px; /** header 30px + 19 hours x 30px = 570 + bottom 15px **/
    display: none;
}

.perFormColumn .blockHeader {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #2a2724;
    text-align: center;
}

.perFormColumn {
    position: relative;
    height: 100%;
    float: left;
    z-index: 1;
}

.perFormColumn .hourList {
    position: absolute;
    width: 100%;
    height: 585px; /** perFormColumn height (615px) - perFormColumn header (30px) **/
}

#perFormYesterday {
    width: 175px;
}

#perFormToday {
    width: 400px;
}

#perFormTomorrow {
    width: 140px;
}

#perFormPool {
    margin-left: 30px;
    width: 195px;
}
#perFormPool .blockHeader {
    background-color: transparent;
}

.dayBlock li {
    width: 100%;
    height: 29px;
    border-bottom: 1px solid #b9a889;
}

/** Time Markup styles **/
.timeMarkups ul {
    margin-top: 45px;
}

.timeMarkups li {
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

/**********************************************************************************************************************/
/**                                          PerForm > Action styles                                                 **/
/**********************************************************************************************************************/

/** General **/
.perFormAction {
    display: block;
    width: 100%;
    z-index: 2;
    text-align: center;

    -moz-box-shadow: 2px 2px 5px #b9a889;
    -webkit-box-shadow: 2px 2px 5px #b9a889;
    box-shadow: 2px 2px 5px #b9a889;
}
.perFormAction .actionDo {
    float: left;
    width: 30px;
    height: 100%;
}

.perFormAction .actionDo span, .perFormAction .actionExtras span {
    position: relative;
    top: 50%;
    margin-top: -15px;
}

.perFormAction .actionExtras {
    float: right;
    height: 100%;
}
.perFormAction .actionDelete {
    position: absolute;
    top: 50%;
    right: 0;
    margin-top: -15px;
    width: 30px;
    height: 30px;
    background-color: inherit; /** In order to hide other buttons like importance or urgency. **/
    display: none;
}

.perFormAction .actionTitle{
    overflow: hidden;
    height: 100%;
    cursor: pointer;
}
.perFormAction .actionTitle .titleTextWrapper {
    line-height: 30px;
}

.perFormAction .actionTitle .titleTextWrapper p {
    line-height: 30px;
    word-break: break-all; /** Fixes issues with long words **/
    word-wrap: break-word;
}

/** Column-specific styles **/
#perFormYesterday .perFormAction {
    background-color: #5e5755;
    position: absolute;
}

#perFormToday .perFormAction {
    background-color: #f4f2ef;
    position: absolute;
}

#perFormTomorrow .perFormAction {
    background-color: #b9a889; /** Only applied in Odds, as pair ones are overrides later **/
    position: absolute;
}

#perFormPool .perFormAction {
    background-color: #f4f2ef;  /** Only applied in Odds, as pair ones are overrides later **/
    position: relative;
    height: 30px;
    margin-bottom: 15px;
}

/** Pair today actions **/
#perFormToday .perFormAction:nth-child(2n+1) {
    background-color: #dfd9c2;
}

/** Pair unlisted actions **/

#perFormPool .perFormAction:nth-child(2n+1) {
    background-color: #dfd9c2;
}

/** Hack for text vertical alignment **/
#perFormYesterday .perFormAction .actionTitle:before,
#perFormToday .perFormAction .actionTitle:before,
#perFormTomorrow .perFormAction .actionTitle:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

#perFormYesterday .perFormAction .actionTitle .titleTextWrapper,
#perFormToday .perFormAction .actionTitle .titleTextWrapper,
#perFormTomorrow .perFormAction .actionTitle .titleTextWrapper {
    display: inline-block;
    vertical-align: middle;
}

#perFormPool .perFormAction .actionTitle .titleTextWrapper p {
    text-overflow: ellipsis;
    white-space: nowrap;
    display: block;
    overflow: hidden;
}

/** FullText Actions **/
#perFormPool .perFormAction.fullText {
    height: auto;
}

.perFormAction.fullText .actionDo {
    height: 30px;
}
.perFormAction.fullText .actionDo span {
    position: absolute;
    left: 0;
}

.perFormAction.fullText .actionExtras span {
    display: none;
}

.perFormAction.fullText .actionTitle {
    padding-right: 30px;
}
.perFormAction.fullText .actionTitle .titleTextWrapper p {
    white-space: normal !important;
}