/**
 * Project: The Mindcraft Project
 * Description: mindFlow CSS Library
 * User: Hector Ordonez
 * Date: 29/01/14 17:30
 */

/** initStep contains the starting step, which is just required by JavaScript, to know which step load first.       **/
/** Once page is loaded, is used no more.  **/
#initStep {
    display: none;
}

/** Styles for the flow selection in the top of the mindFlow page. **/
#flowMenu {
    position: relative;
    height: 100px;
    width: 1000px;
    margin: 10px auto 0 auto;
}

#flowMenu ul {
    position: absolute;
    z-index: 1;
}

#flowMenu ul li, .text {
    display: inline;
}

#flowMenu ul li a {
    cursor: pointer;
    text-decoration: none;
}

#flowMenu .flowOption, #flowMenu .miniFlowOption {
    display: inline-block;
    width: 161px;
}

#flowMenu .flowOption .text {
    position: relative;
    left: -26px;
}

#flowMenu .miniFlowOption .text {
    position: relative;
    left: -10px;
}

#flowMenu .flowOption img {
    width: 61px;
    height: 61px;
}

#flowMenu  .imgBox {
    width: 43px;
    height: 43px;
    display: inline-block;
    overflow: hidden;
}

#flowMenu .imgBox:hover img {
    width: 86px;
    margin-left: -43px;
}

#flowLine {
    position: absolute;
    width: calc(100% - 5px);
    height: 25px;
    z-index: 0;
    margin: 20px 0 0 5px;
    background-color: #e94f3b;
}

#flowLine #pastFlow {
    float: left;
    width: 0;
    height: 100%;
    background-color: #5e5755;
}

#flowLine #futureFlow {
    float: right;
    width: 100%;
    height: 100%;
    background-color: #b9a889;
}

/** Style for the step container **/
#stepContent {
    margin-top: 50px;
}

/**********************************************************************************************************************/
/**                                             All section styles                                                   **/
/**********************************************************************************************************************/

/** Grids **/
.mindFlowGrid {
    width: 950px;
    margin: 0 auto;
    -moz-box-shadow: 2px 2px 5px #b9a889;
    -webkit-box-shadow: 2px 2px 5px #b9a889;
    box-shadow: 2px 2px 5px #b9a889;
}

/** Id columns are always hidden here **/
.mindFlowGrid .row .col_id {
    display: none;
}

/** Action column styles **/
.mindFlowGrid .actionBox {
    position: relative;
}

.mindFlowGrid .actionBox div {
    float: left;
}

.mindFlowGrid .action a{
    width: 30px;
    height: 30px;
    display: block;
    font-size: 0;
    cursor: pointer;
}

.mindFlowGrid .action a:hover {
    background-position: -30px 0 !important;
}

/**********************************************************************************************************************/
/**                                          BrainStorm section styles                                               **/
/**********************************************************************************************************************/

/** Styles for the footer section that contains the new idea form. **/
#brainStormGrid #formNewIdea {
    display: inline;
}

#brainStormGrid #formNewIdea input {
    height: 30px;
    width: 100%;
    border: none;
    text-indent: 35px;
}

#brainStormGrid .newIdeaCell {
    width: 100%;
}

#brainStormGrid #linkNewIdea {
    position: absolute;
    background: url('./../../../../public/images/Plus.png');
    width: 15px;
    height: 15px;
    margin: 8px 0 0 12px;
}

/** Edit Idea styles **/

#brainStormGrid #formEditIdea #inputEditIdeaTitle {
    width: calc(100% - 20px);
}

/** Column styles **/
#brainStormGrid .col_title {
    text-indent: 20px;
    width: 650px;
}

#brainStormGrid .col_actions {
    width: 100px;
}

#brainStormGrid .col_date_creation {
    width: 200px;
}

/** BrainStorm Action icons **/
#brainStormGrid .action .editAction {
    background: url('./../../../../public/images/Edit.png') no-repeat;
}
#brainStormGrid .action .delAction {
    background: url('./../../../../public/images/Delete.png') no-repeat;
}

/**********************************************************************************************************************/
/**                                          Selection section styles                                                **/
/**********************************************************************************************************************/

/** Styles for the footer section that contains the new idea form. **/
#selectionGrid #formNewIdea {
    display: inline;
}

#selectionGrid #formNewIdea input {
    height: 30px;
    width: 100%;
    border: none;
    text-indent: 35px;
}

#selectionGrid .newIdeaCell {
    width: 100%;
}

#selectionGrid #linkNewIdea {
    position: absolute;
    background: url('./../../../../public/images/Plus.png');
    width: 15px;
    height: 15px;
    margin: 8px 0 0 12px;
}

/** Edit Idea styles **/

#selectionGrid #formEditIdea #inputEditIdeaTitle {
    width: calc(100% - 20px);
}

/** Column styles **/
#selectionGrid .col_title {
    text-indent: 20px;
    width: 650px;
}

#selectionGrid .col_actions {
    width: 100px;
}

#selectionGrid .col_date_creation {
    width: 200px;
}

/** Selection Action icons **/
#selectionGrid .action .editAction {
    background: url('./../../../../public/images/Edit.png') no-repeat;
}
#selectionGrid .action .delAction {
    background: url('./../../../../public/images/Delete.png') no-repeat;
}
#selectionGrid .action .postponeAction {
    background: url('./../../../../public/images/Postpone.png') no-repeat;
}

/**********************************************************************************************************************/
/**                                          Prioritize section styles                                               **/
/**********************************************************************************************************************/

/** Column styles **/
#prioritizeGrid .col_title {
    text-indent: 20px;
    width: 700px;
}

#prioritizeGrid .col_date_creation {
    width: 250px;
}

/**********************************************************************************************************************/
/**                                          ApplyTime section styles                                                **/
/**********************************************************************************************************************/

/** Column styles **/
#applyTimeGrid .col_title {
    text-indent: 20px;
    width: 700px;
}

#applyTimeGrid .col_date_creation {
    width: 250px;
}
/**********************************************************************************************************************/
/**                                          PerForm section styles                                                  **/
/**********************************************************************************************************************/