/**
 * Project: The Mindcraft Project
 * Description: mindFlow CSS Library
 * User: Hector Ordonez
 * Date: 29/01/14 17:30
 */

/** initStep contains the starting step, which is just required by JavaScript, to know which step load first.       **/
/** Once page is loaded, is used no more.  **/
#initStep {
    display: none;
}

/** Styles for the flow selection in the top of the mindFlow page. **/
#flowMenu {
    position: relative;
    height: 100px;
    width: 1000px;
    margin: 10px auto 0 auto;
}

#flowMenu ul {
    position: absolute;
}

#flowMenu ul li .text {
    display: inline;
}

#flowMenu ul li a {
    cursor: pointer;
    text-decoration: none;
}

#flowMenu .flowOption, #flowMenu .miniFlowOption {
    display: inline-block;
    width: 161px;
}

#flowMenu .flowOption .text {
    position: relative;
    left: -26px;
}

#flowMenu .miniFlowOption .text {
    position: relative;
    left: -10px;
}

#flowMenu .flowOption img {
    width: 61px;
    height: 61px;
}

#flowMenu  .imgBox {
    width: 43px;
    height: 43px;
    display: inline-block;
    overflow: hidden;
}

#flowMenu .imgBox:hover img {
    width: 86px;
    margin-left: -43px;
}

#flowLine {
    position: absolute;
    width: calc(100% - 5px);
    height: 25px;
    margin: 20px 0 0 5px;
    background-color: #e94f3b;
}

#flowLine #pastFlow {
    float: left;
    width: 0;
    height: 100%;
    background-color: #5e5755;
}

#flowLine #futureFlow {
    float: right;
    width: 100%;
    height: 100%;
    background-color: #b9a889;
}

/** Style for the step container **/
#stepContent {
}

/**********************************************************************************************************************/
/**                                             All section styles                                                   **/
/**********************************************************************************************************************/

/** Grids **/
.mindFlowGrid {
    width: 950px;
    margin: 0 auto;
    max-height: 330px;
    overflow-y: auto;
    padding: 5px;
}

/** Id columns are always hidden here **/
.mindFlowGrid .row .col_id {
    display: none;
}

/** Action column styles **/
.mindFlowGrid .actionBox {
    position: relative;
}

.mindFlowGrid .actionBox div {
    float: left;
    width: 45px;
}

.mindFlowGrid .action a {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 0;
    cursor: pointer;
}

.mindFlowGrid .action a:hover {
    background-position: -30px 0 !important;
}

/**********************************************************************************************************************/
/**                                          BrainStorm section styles                                               **/
/**********************************************************************************************************************/

/** Styles for the footer section that contains the new idea form. **/
#brainStormGrid #formNewIdea {
    display: inline;
}

#brainStormGrid #formNewIdea input {
    height: 30px;
    width: 100%;
    border: none;
    text-indent: 35px;
}

#brainStormGrid .newIdeaCell {
    width: 100%;
}

#brainStormGrid #linkNewIdea {
    position: absolute;
    background: url('./../../../../public/images/Plus.png');
    width: 15px;
    height: 15px;
    margin: 8px 0 0 12px;
}

/** Edit Idea styles **/

#brainStormGrid #formEditIdea #inputEditIdeaTitle {
    width: calc(100% - 20px);
}

/** Column styles **/
#brainStormGrid .col_title {
    text-indent: 20px;
    width: 710px;
}

#brainStormGrid .col_actions {
    width: 90px; /** 2 actions x 45 each **/
}

#brainStormGrid .col_date_creation {
    width: 150px;
}

/** BrainStorm Action icons **/
#brainStormGrid .action .editAction {
    background: url('./../../../../public/images/Edit.png') no-repeat;
}

#brainStormGrid .action .delAction {
    background: url('./../../../../public/images/Delete.png') no-repeat;
}

/**********************************************************************************************************************/
/**                                          Select section styles                                                **/
/**********************************************************************************************************************/

/** Styles for the footer section that contains the new idea form. **/
#selectGrid #formNewIdea {
    display: inline;
}

#selectGrid #formNewIdea input {
    height: 30px;
    width: 100%;
    border: none;
    text-indent: 35px;
}

#selectGrid .newIdeaCell {
    width: 100%;
}

#selectGrid #linkNewIdea {
    position: absolute;
    background: url('./../../../../public/images/Plus.png');
    width: 15px;
    height: 15px;
    margin: 8px 0 0 12px;
}

/** Edit Idea styles **/

#selectGrid #formEditIdea #inputEditIdeaTitle {
    width: calc(100% - 20px);
}

/** Column styles **/
#selectGrid .col_title {
    text-indent: 20px;
    width: 665px;
}

#selectGrid .col_selected {
    display: none;
}

#selectGrid .col_actions {
    width: 135px; /** 3 actions x 45 each **/
}

#selectGrid .col_date_creation {
    width: 150px;
}

/** Select Action icons **/
#selectGrid .action .editAction {
    background: url('./../../../../public/images/Edit.png') no-repeat;
}

#selectGrid .action .delAction {
    background: url('./../../../../public/images/Delete.png') no-repeat;
}

#selectGrid .action .selectAction {
    background: url('./../../../../public/images/SelectArrow.png') no-repeat;
}

#selectGrid .action .selectAction.unSelected {
    background-position: 0 0 !important;
}

#selectGrid .action .selectAction.selected {
    background-position: 0 -30px !important;
}

#selectGrid .action:hover .selectAction.unSelected {
    background-position: -30px 0 !important;
}

#selectGrid .action:hover .selectAction.selected {
    background-position: -30px -30px !important;
}

/**********************************************************************************************************************/
/**                                          Prioritize section styles                                               **/
/**********************************************************************************************************************/

/** Column styles **/
#prioritizeGrid .col_title {
    text-indent: 20px;
    width: 710px;
}

#prioritizeGrid .col_actions {
    width: 90px; /** 2 actions x 45 each **/
}

#prioritizeGrid .col_date_creation {
    width: 150px;
}

#prioritizeGrid .col_important, #prioritizeGrid .col_urgent {
    display: none;
}

/** Prioritize Action icons **/
#prioritizeGrid .action .importantAction {
    background: url('./../../../../public/images/Important.png') no-repeat;
}

#prioritizeGrid .action .urgentAction {
    background: url('./../../../../public/images/Urgent.png') no-repeat;
}

#prioritizeGrid .action .importantAction.notImportant {
    background-position: 0 0 !important;
}

#prioritizeGrid .action .importantAction.important {
    background-position: -30px 0 !important;
}

#prioritizeGrid .action:hover .importantAction.notImportant {
    background-position: 0 0 !important;
}

#prioritizeGrid .action:hover .importantAction.important {
    background-position: -30px 0 !important;
}

#prioritizeGrid .action .urgentAction.notUrgent {
    background-position: 0 0 !important;
}

#prioritizeGrid .action .urgentAction.urgent {
    background-position: -30px 0 !important;
}

#prioritizeGrid .action:hover .urgentAction.notUrgent {
    background-position: 0 0 !important;
}

#prioritizeGrid .action:hover .urgentAction.urgent {
    background-position: -30px 0 !important;
}

/**********************************************************************************************************************/
/**                                          ApplyTime section styles                                                **/
/**********************************************************************************************************************/

/** Column styles **/
#applyTimeGrid .col_title {
    text-indent: 20px;
    width: 710px;
}

#applyTimeGrid .col_type {
    display: none;
}

#applyTimeGrid .col_actions {
    width: 90px; /** 2 actions x 45 each **/
}

#applyTimeGrid .col_time{
    width: 150px;
}

/** ApplyTime Action icons **/
#applyTimeGrid .action .setTodoAction {
    background: url('./../../../../public/images/Timing.png') no-repeat;
}

#applyTimeGrid .action .setRoutineAction {
    background: url('./../../../../public/images/Routine.png') no-repeat;
}

/** ApplyTime dialogs style **/

/** Container **/
#applyTimeDialog {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

/** To do dialog **/
#setTodoDialogWrapper {
    position: fixed;
    width: 210px;
    height: 420px;
    top: 50%;
    left: 50%;
    margin-left: -105px;
    margin-top: -210px;
    z-index:11;
    display: none;
}

#setTodoDialogWrapper #timeRangeWrapper .text {
    text-indent: 5px;
    line-height: 30px;
    float: left;
}

#setTodoDialogWrapper #timeRangeWrapper #fromSelectionWrapper,
#setTodoDialogWrapper #timeRangeWrapper #tillSelectionWrapper {
    height: 30px;
    background-color: #2a2724;
}
#setTodoDialogWrapper #timeRangeWrapper .inputs {
    float: right;
}
#setTodoDialogWrapper #timeRangeWrapper .inputs div {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;

    /** Disabling text selection here **/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#setTodoDialogWrapper #fromSelectionWrapper .inputs .hours{
    background-color: #dfd9c2;
}
#setTodoDialogWrapper #fromSelectionWrapper .inputs .minutes{
    background-color: #f4f2ef;
}
#setTodoDialogWrapper #tillSelectionWrapper .inputs .hours{
    background-color: #f4f2ef;
}
#setTodoDialogWrapper #tillSelectionWrapper .inputs .minutes{
    background-color: #dfd9c2;
}

#setTodoDialogWrapper #moreOftenWrapper {
    background-color: #FFF;
    height: 30px;
}

#setTodoDialogWrapper #moreOftenWrapper .text{
    text-indent: 5px;
    line-height: 30px;
    float: left;
}
#setTodoDialogWrapper #moreOftenWrapper .action{
    float: right;
}

#setTodoDialogWrapper #moreOftenWrapper #moreOftenAction {
    background: url('./../../../../public/images/Routine.png') no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    font-size: 0;
    cursor: pointer;
}
#setTodoDialogWrapper #moreOftenWrapper .action .setRoutineAction:hover {
    background-position: -30px 0 !important;
}

#setTodoDialogWrapper #submitTodo {
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#setTodoInfo, #setRoutineInfo {
    background-color: #dfd9c2;
}

/** Routine dialog **/
#setRoutineDialogWrapper {
    position: fixed;
    width: 210px;
    height: 420px;
    top: 50%;
    left: 50%;
    margin-left: -105px;
    margin-top: -210px;
    z-index:11;
    display: none;
}

#setRoutineDialogWrapper #weeklyRepetitionWrapper {
    height: 30px;
    width: 100%;
    background-color: #2a2724;
}
#setRoutineDialogWrapper #weeklyRepetitionWrapper span.left {
    float: left;
    line-height: 30px;
    text-indent: 5px;
}
#setRoutineDialogWrapper #weeklyRepetitionWrapper span.right {
    float: right;
    line-height: 30px;
    width: 60px;
    height: 30px;
    text-align: center;
}
#setRoutineDialogWrapper #weeklyRepetitionWrapper #weeklyRepetitionSelector {
    background-color: #dfd9c2;
    float: right;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;

    /** Disabling text selection here **/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#setRoutineDialogWrapper #weekdaysSelectionWrapper {
    height: 60px;
}
#setRoutineDialogWrapper #weekdaysSelectionWrapper p {
    height: 30px;
    line-height: 30px;
    text-indent: 5px;
}

#setRoutineDialogWrapper #weekdaysSelectionWrapper ul li{
    float: left;
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
}
#setRoutineDialogWrapper #weekdaysSelectionWrapper ul li:nth-child(2n+1) {
    background-color: #dfd9c2;
}
#setRoutineDialogWrapper #weekdaysSelectionWrapper ul li {
    background-color: #f4f2ef;
}
#setRoutineDialogWrapper #weekdaysSelectionWrapper ul li.selected {
    background-color: #2a2724;
}

#setRoutineDialogWrapper #dateRangeWrapper #startsSelectionWrapper, #setRoutineDialogWrapper #dateRangeWrapper #finishesSelectionWrapper {
    height: 30px;
    background-color: #2a2724;
}

#setRoutineDialogWrapper #dateRangeWrapper label {
    float: left;
    padding-left: 5px;
    line-height: 30px;
}
#setRoutineDialogWrapper #dateRangeWrapper .datePickerWrapper{
    float: right;
    height: 30px;
    width: 90px;
}
#setRoutineDialogWrapper #startDate{
    background-color: #dfd9c2;
}
#setRoutineDialogWrapper #finishDate{
    background-color: #f4f2ef;
}
#setRoutineDialogWrapper .datePickerWrapper input{
    text-align: center;
    width: 100%;
    height: 100%;
}

#setRoutineDialogWrapper #submitRoutine {
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

#setRoutineDialogWrapper #timeRangeWrapper .text {
    text-indent: 5px;
    line-height: 30px;
    float: left;
}

#setRoutineDialogWrapper #timeRangeWrapper #fromSelectionWrapper,
#setRoutineDialogWrapper #timeRangeWrapper #tillSelectionWrapper {
    height: 30px;
    background-color: #2a2724;
}
#setRoutineDialogWrapper #timeRangeWrapper .inputs {
    float: right;
}
#setRoutineDialogWrapper #timeRangeWrapper .inputs div {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
    line-height: 30px;

    /** Disabling text selection here **/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#setRoutineDialogWrapper #fromSelectionWrapper .inputs .hours{
    background-color: #dfd9c2;
}
#setRoutineDialogWrapper #fromSelectionWrapper .inputs .minutes{
    background-color: #f4f2ef;
}
#setRoutineDialogWrapper #tillSelectionWrapper .inputs .hours{
    background-color: #f4f2ef;
}
#setRoutineDialogWrapper #tillSelectionWrapper .inputs .minutes{
    background-color: #dfd9c2;
}

/**********************************************************************************************************************/
/**                                          PerForm section styles                                                  **/
/**********************************************************************************************************************/

/** PerForm Layout styles **/
#perFormLayout {
    height: 615px; /** header 30px + 19 hours x 30px = 570 + bottom 15px **/
    display: none;
}

.perFormColumn .blockHeader {
    width: 100%;
    height: 30px;
    line-height: 30px;
    background-color: #2a2724;
    text-align: center;
}

.perFormColumn {
    position: relative;
    height: 100%;
    float: left;
    z-index: 1;
}

.perFormColumn .hourList {
    position: absolute;
    width: 100%;
    height: 585px; /** perFormColumn height (615px) - perFormColumn header (30px) **/
}

#perFormYesterday {
    width: 200px;
}

#perFormToday {
    width: 400px;
}

#perFormTomorrow {
    width: 140px;
}

#perFormUnlisted {
    margin-left: 30px;
    width: 170px;
}
#perFormUnlisted .blockHeader {
    background-color: transparent;
}

.dayBlock li {
    width: 100%;
    height: 29px;
    border-bottom: 1px solid #b9a889;
}

/** Time Markup styles **/
.timeMarkups ul {
    margin-top: 45px;
}

.timeMarkups li {
    height: 30px;
    line-height: 30px;
    width: 30px;
    text-align: center;
}

/** Action block styles **/
.perFormAction {
    position: relative;
    width: 100%;
    height: 30px;
    line-height: 30px;
    z-index: 2;
    text-align: center;

    -moz-box-shadow: 2px 2px 5px #b9a889;
    -webkit-box-shadow: 2px 2px 5px #b9a889;
    box-shadow: 2px 2px 5px #b9a889;    
}

#perFormYesterday .perFormAction {
    background-color: #5e5755;
}

#perFormTomorrow .perFormAction {
    background-color: #b9a889;
}

/** Pair today actions **/

#perFormToday .perFormAction:nth-child(2n+1) {
    background-color: #dfd9c2;
}

/** Odd today actions **/
#perFormToday .perFormAction {
    background-color: #f4f2ef;
}

/** Pair unlisted actions **/

#perFormUnlisted .perFormAction:nth-child(2n+1) {
    background-color: #dfd9c2;
}

/** Odd unlisted actions **/
#perFormUnlisted .perFormAction {
    background-color: #f4f2ef;
}