/**
 * Project: The Mindcraft Project
 * Description: mindFlow CSS Library
 * User: Hector Ordonez
 * Date: 29/01/14 17:30
 */

/** initStep contains the starting step, which is just required by JavaScript, to know which step load first.       **/
/** Once page is loaded, is used no more.  **/
#initStep {
    display: none;
}

/** Styles for the flow selection in the top of the mindFlow page. **/
#flowMenu {
    position: relative;
    height: 100px;
    width: 1000px;
    margin: 10px auto 0 auto;
}

#flowMenu ul {
    position: absolute;
}

#flowMenu ul li .text {
    display: inline;
}

#flowMenu ul li a {
    cursor: pointer;
    text-decoration: none;
}

#flowMenu .flowOption, #flowMenu .miniFlowOption {
    display: inline-block;
    width: 161px;
}

#flowMenu .flowOption .text {
    position: relative;
    left: -26px;
}

#flowMenu .miniFlowOption .text {
    position: relative;
    left: -10px;
}

#flowMenu .flowOption img {
    width: 61px;
    height: 61px;
}

#flowMenu  .imgBox {
    width: 43px;
    height: 43px;
    display: inline-block;
    overflow: hidden;
}

#flowMenu .imgBox:hover img {
    width: 86px;
    margin-left: -43px;
}

#flowLine {
    position: absolute;
    width: calc(100% - 5px);
    height: 25px;
    margin: 20px 0 0 5px;
    background-color: #e94f3b;
}

#flowLine #pastFlow {
    float: left;
    width: 0;
    height: 100%;
    background-color: #5e5755;
}

#flowLine #futureFlow {
    float: right;
    width: 100%;
    height: 100%;
    background-color: #b9a889;
}

/** Style for the step container **/
#stepContent {
    margin-top: 50px;
}

/**********************************************************************************************************************/
/**                                             All section styles                                                   **/
/**********************************************************************************************************************/

/** Grids **/
.mindFlowGrid {
    width: 950px;
    margin: 0 auto;
    -moz-box-shadow: 2px 2px 5px #b9a889;
    -webkit-box-shadow: 2px 2px 5px #b9a889;
    box-shadow: 2px 2px 5px #b9a889;
    max-height: 330px;
    overflow-y: auto;
}

/** Id columns are always hidden here **/
.mindFlowGrid .row .col_id {
    display: none;
}

/** Action column styles **/
.mindFlowGrid .actionBox {
    position: relative;
}

.mindFlowGrid .actionBox div {
    float: left;
    width: 45px;
}

.mindFlowGrid .action a {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 0;
    cursor: pointer;
}

.mindFlowGrid .action a:hover {
    background-position: -30px 0 !important;
}

/**********************************************************************************************************************/
/**                                          BrainStorm section styles                                               **/
/**********************************************************************************************************************/

/** Styles for the footer section that contains the new idea form. **/
#brainStormGrid #formNewIdea {
    display: inline;
}

#brainStormGrid #formNewIdea input {
    height: 30px;
    width: 100%;
    border: none;
    text-indent: 35px;
}

#brainStormGrid .newIdeaCell {
    width: 100%;
}

#brainStormGrid #linkNewIdea {
    position: absolute;
    background: url('./../../../../public/images/Plus.png');
    width: 15px;
    height: 15px;
    margin: 8px 0 0 12px;
}

/** Edit Idea styles **/

#brainStormGrid #formEditIdea #inputEditIdeaTitle {
    width: calc(100% - 20px);
}

/** Column styles **/
#brainStormGrid .col_title {
    text-indent: 20px;
    width: 710px;
}

#brainStormGrid .col_actions {
    width: 90px; /** 2 actions x 45 each **/
}

#brainStormGrid .col_date_creation {
    width: 150px;
}

/** BrainStorm Action icons **/
#brainStormGrid .action .editAction {
    background: url('./../../../../public/images/Edit.png') no-repeat;
}

#brainStormGrid .action .delAction {
    background: url('./../../../../public/images/Delete.png') no-repeat;
}

/**********************************************************************************************************************/
/**                                          Selection section styles                                                **/
/**********************************************************************************************************************/

/** Styles for the footer section that contains the new idea form. **/
#selectionGrid #formNewIdea {
    display: inline;
}

#selectionGrid #formNewIdea input {
    height: 30px;
    width: 100%;
    border: none;
    text-indent: 35px;
}

#selectionGrid .newIdeaCell {
    width: 100%;
}

#selectionGrid #linkNewIdea {
    position: absolute;
    background: url('./../../../../public/images/Plus.png');
    width: 15px;
    height: 15px;
    margin: 8px 0 0 12px;
}

/** Edit Idea styles **/

#selectionGrid #formEditIdea #inputEditIdeaTitle {
    width: calc(100% - 20px);
}

/** Column styles **/
#selectionGrid .col_title {
    text-indent: 20px;
    width: 665px;
}

#selectionGrid .col_selected {
    display: none;
}

#selectionGrid .col_actions {
    width: 135px; /** 3 actions x 45 each **/
}

#selectionGrid .col_date_creation {
    width: 150px;
}

/** Selection Action icons **/
#selectionGrid .action .editAction {
    background: url('./../../../../public/images/Edit.png') no-repeat;
}

#selectionGrid .action .delAction {
    background: url('./../../../../public/images/Delete.png') no-repeat;
}

#selectionGrid .action .selectAction {
    background: url('./../../../../public/images/SelectArrow.png') no-repeat;
}

#selectionGrid .action .selectAction.unSelected {
    background-position: 0 0 !important;
}

#selectionGrid .action .selectAction.selected {
    background-position: 0 -30px !important;
}

#selectionGrid .action:hover .selectAction.unSelected {
    background-position: -30px 0 !important;
}

#selectionGrid .action:hover .selectAction.selected {
    background-position: -30px -30px !important;
}

/**********************************************************************************************************************/
/**                                          Prioritize section styles                                               **/
/**********************************************************************************************************************/

/** Column styles **/
#prioritizeGrid .col_title {
    text-indent: 20px;
    width: 710px;
}

#prioritizeGrid .col_actions {
    width: 90px; /** 2 actions x 45 each **/
}

#prioritizeGrid .col_date_creation {
    width: 150px;
}

#prioritizeGrid .col_important, #prioritizeGrid .col_urgent {
    display: none;
}

/** Prioritize Action icons **/
#prioritizeGrid .action .importantAction {
    background: url('./../../../../public/images/Important.png') no-repeat;
}

#prioritizeGrid .action .urgentAction {
    background: url('./../../../../public/images/Urgent.png') no-repeat;
}

#prioritizeGrid .action .importantAction.notImportant {
    background-position: 0 0 !important;
}

#prioritizeGrid .action .importantAction.important {
    background-position: -30px 0 !important;
}

#prioritizeGrid .action:hover .importantAction.notImportant {
    background-position: 0 0 !important;
}

#prioritizeGrid .action:hover .importantAction.important {
    background-position: -30px 0 !important;
}

#prioritizeGrid .action .urgentAction.notUrgent {
    background-position: 0 0 !important;
}

#prioritizeGrid .action .urgentAction.urgent {
    background-position: -30px 0 !important;
}

#prioritizeGrid .action:hover .urgentAction.notUrgent {
    background-position: 0 0 !important;
}

#prioritizeGrid .action:hover .urgentAction.urgent {
    background-position: -30px 0 !important;
}

/**********************************************************************************************************************/
/**                                          ApplyTime section styles                                                **/
/**********************************************************************************************************************/

/** Column styles **/
#applyTimeGrid .col_title {
    text-indent: 20px;
    width: 585px;
}

#applyTimeGrid .col_date_todo, #applyTimeGrid .col_time_from, #applyTimeGrid .col_time_till {
    /** display: none; **/
    width: 75px;
}

#applyTimeGrid .col_actions {
    width: 90px; /** 2 actions x 45 each **/
}

/** ApplyTime Action icons **/
#applyTimeGrid .action .setTodoAction {
    background: url('./../../../../public/images/Timing.png') no-repeat;
}

#applyTimeGrid .action .setRoutineAction {
    background: url('./../../../../public/images/Routine.png') no-repeat;
}

/** ApplyTime setTodoDialog style **/
#setTodoDialogWrapper {
    display: none;
}

#setTodoDialogWrapper #dialogContent {
    position: fixed;
    width: 210px;
    height: 420px;
    top: 50%;
    left: 50%;
    margin-left: -105px;
    margin-top: -210px;
    z-index:11;
}

#timeSelectionWrapper .text {
    text-indent: 5px;
    line-height: 30px;
    float: left;
}

#timeSelectionWrapper #fromSelectionWrapper, 
#timeSelectionWrapper #tillSelectionWrapper {
    height: 30px;
    background-color: #2a2724;
}
#timeSelectionWrapper .inputs {
    float: right;
}
#timeSelectionWrapper .inputs input {
    width: 30px;
    height: 30px;
    float: left;
    text-align: center;
}
#fromSelectionWrapper .inputs .hours{
    background-color: #dfd9c2;
}
#fromSelectionWrapper .inputs .minutes{
    background-color: #f4f2ef;
}
#tillSelectionWrapper .inputs .hours{
    background-color: #f4f2ef;
}
#tillSelectionWrapper .inputs .minutes{
    background-color: #dfd9c2;
}

#moreOftenWrapper {
    background-color: #FFF;
    height: 30px;
}

#moreOftenWrapper .text{
    text-indent: 5px;
    line-height: 30px;
    float: left;
}
#moreOftenWrapper .action{
    float: right;
}

#moreOftenWrapper .action .setRoutineAction {
    background: url('./../../../../public/images/Routine.png') no-repeat;
    width: 30px;
    height: 30px;
    display: block;
    font-size: 0;
    cursor: pointer;
}
#moreOftenWrapper .action .setRoutineAction:hover {
    background-position: -30px 0 !important;
}

#setTodoDialogWrapper #submitApplyTime {
    height: 30px;
    line-height: 30px;
    width: 100%;
    text-align: center;
    cursor: pointer;
}

/**********************************************************************************************************************/
/**                                          PerForm section styles                                                  **/
/**********************************************************************************************************************/