/**
 * Project: The Mindcraft Project
 * Description: WorkOut CSS Library
 * User: Hector Ordonez
 * Date: 25/07/13 21:00
 */

/**********************************************************************************************************************/
/** Selection Grid Style                                                                                             **/
/**********************************************************************************************************************/

/**
 * Id of the Table that contains the Selection table.
**/
#selection_grid {
}

/**
 * Table columns
**/
#selection_grid .col_id {
}

#selection_grid .col_title {
    width: 70%;
}

#selection_grid .col_actions {
    width: 15%;
}

#selection_grid .col_date_creation {
    width: 15%;
}

#selection_grid  .row .id, #selection_grid  .row .col_id {
    display: none;
}

#selection_grid .actions .postponeAction {
    background: url('../../../../public/images/Postpone.png');
}

/**********************************************************************************************************************/
/** Timing Grid Style                                                                                                **/
/**********************************************************************************************************************/

/**
 * Id of the Table that contains the Timing table.
**/
#applyTime_grid {
}

#applyTime_grid .col_id {
}

#applyTime_grid .col_title {
}

#applyTime_grid .col_date_creation {
    width: 90px;
}

#applyTime_grid .col_tododate {
    width: 90px;
}

#applyTime_grid .col_todotime {
    width: 90px;
}

#applyTime_grid .col_frequency {
}

#applyTime_grid .col_actions {
    width: 60px;
}

#applyTime_grid .cell.date_creation {
    text-align: center;
}

#applyTime_grid .cell.date_todo {
    text-align: center;
}

#applyTime_grid .cell.time_todo {
    text-align: center;
}

#applyTime_grid  .cell.frequency, #applyTime_grid  .row .col_frequency {
    display: none;
}

/**
 * ApplyTime_grid actions
**/
#applyTime_grid .actions .applyTimeAction {
    background: url('../../../../public/images/TMP_clock.gif');
}

#applyTimeDialog {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: url('../../../../public/images/TMP_transparent.png') repeat;
    display: none;
}

#applyTimeDialog .applyTimeInnerDialog {
    position: absolute;
    width: 200px;
    min-height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    padding: 10px;

    background-color: #DDD;
    border: 2px solid #000;
    border-radius: 10px;
}

#applyTimeDialog #moreOften .clicker {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#applyTimeDialog #moreOftenPanel {
    display: none;
}

#applyTimeDialog #moreOftenPanel input {
    margin-left: 5px;
}

#applyTimeDialog #submitAppliedTime {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

div.time-picker {
    position: fixed;
    height: 191px;
    width: 5em; /* needed for IE */
    overflow: auto;
    background: #fff;
    border: 1px solid #aaa;
    z-index: 99;
    margin: 0;
}

div.time-picker-12hours {
    width: 6em; /* needed for IE */
}

div.time-picker ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.time-picker li {
    cursor: pointer;
    height: 10px;
    font: 12px/1 Helvetica, Arial, sans-serif;
    padding: 4px 3px;
}

div.time-picker li.selected {
    background: #0063CE;
}

/**********************************************************************************************************************/
/** Prioritizing Grid Style                                                                                             **/
/**********************************************************************************************************************/

/**
 * Id of the Table that contains the Prioritizing table.
**/
#prioritize_grid {
}

/**
 * Table columns
**/
#prioritize_grid .col_id {
}

#prioritize_grid .col_title {
    width: 75%;
}

#prioritize_grid .col_date_creation {
    width: 15%;
}

#prioritize_grid .col_priority {
    width: 10%;
}

#prioritize_grid .prioritySelector {
    height: 14px;
    border: none;
    font-size: 10px;
}