/**
 * Project: The Mindcraft Project
 * User: Hector Ordonez
 * Description:
 * Base styles for administrators.
 * Date: 08/12/13 17:00
*/

/*********************************************/
/**             FOOTER                      **/
/*********************************************/

#admin_footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 45px;
    background-color: #2a2724;
    z-index: 1000;
}

#adminFooterWrapper {
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
}

#adminFooterWrapper #adminWelcome {
    position: relative;
    height: 80px;
    margin-top: -45px;
    width: 275px;
    float: right;
}

#adminFooterWrapper #adminWelcome #helloMe {
    position: absolute;
    left: 0;
    bottom: 0;
}

#adminFooterWrapper #adminWelcome #adminLogo {
    position: absolute;
    top: 0;
    right: 0;
    background: url('../../../../../public/images/Admin.png') no-repeat;
    display: block;
    width: 80px;
    height: 80px;
}

#admin_footer #adminActions {
    float: left;
    margin-top: -10px;
}

#admin_footer #adminActions a {
    background-repeat: no-repeat;
    display: block;
    float: left;
    margin-right: 20px;
    width: 44px;
    height: 44px;
}

#admin_footer #adminActions .usersManagement {
    background: url('./../../../../../public/images/UserManagement.png');
}

#admin_footer #adminActions .adminSettings {
    background: url('./../../../../../public/images/AdminSettings.png');
}

#admin_footer #adminActions .releaseHistory {
    background: url('./../../../../../public/images/ReleaseHistory.png');
}

/*********************************************/
/**           Admin Info Displayer          **/
/*********************************************/

#adminInfoDisplayer {
    line-height: 45px;
    float: left;
}