/**
 * Project: The Mindcraft Project
 * Description: UsersManagement CSS Library
 * User: Hector Ordonez
 * Date: 25/07/13 01:30
 */

/**
 * Id of the element that contains the Users table.
**/
#usersManagement_grid {
    width: 800px;
    margin: 0 auto;
}

/**
 * Table columns
**/
#usersManagement_grid .col_id {
    display: none;
}

#usersManagement_grid .col_username {
    text-indent: 20px;
    width: 260px;
}

#usersManagement_grid .col_mail {
    width: 230px;
}

#usersManagement_grid .col_role {
    width: 70px;
}

#usersManagement_grid .col_state {
    width: 70px;
}

#usersManagement_grid .col_actions {
    width: 70px;
}

#usersManagement_grid .col_last_login {
    width: 100px;
}

/** Role and State column **/
#usersManagement_grid .col_role.open , #usersManagement_grid .col_state.open {
    line-height: 0;
}

/** Action column **/
#usersManagement_grid .actionBox {
    position: relative;
}

#usersManagement_grid .actionBox div {
    float: left;
}

#usersManagement_grid .action a {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 0;
    cursor: pointer;
}

#usersManagement_grid .action a:hover {
    background-position: -30px 0;
}

#usersManagement_grid .actions .openNewPasswordDialog {
    background: url('./../../../../public/images/TMP_settings.png') no-repeat;
}

#usersManagement_grid .actions .deleteUser {
    background: url('./../../../../public/images/Delete.png') no-repeat;
}

/**
 * Id of the footer button to add a new user.
**/
#usersManagement_grid #linkNewUser {
    position: absolute;
    background: url('./../../../../public/images/Plus.png');
    width: 15px;
    height: 15px;
    margin: 8px 0 0 12px;
}

/**
 * Id of the footer form to add a new user.
**/
#usersManagement_grid .newUserCell {
    padding: 0;
    width: 100%;
}

/** New user input **/

#usersManagement_grid #formNewUser input {
    height: 30px;
    width: 100%;
    border: none;
    text-indent: 35px;
}

/** Edit user input **/

#usersManagement_grid #formEditUsername #inputEditUsername {
    width: 100%;
    border: none;
}

/** Role selector **/

#roleSelector, #stateSelector {
    width: 100%;
    height: 100%;
    padding: 5px 0;
    border: none;
    text-align: center;
}

/** Password box and input **/

.bodyContent #passwordDialog {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: none;
}

.bodyContent #passwordDialogWrapper {
    position: fixed;
    height: 30px;
    top: 50%;
    margin-top: -15px;
    width: 200px;
    left: 50%;
    margin-left: -100px;
    background-color: #DDD;
    border: 2px solid #000;
    border-radius: 10px;
    text-align: center;
    z-index: 11;
}

.bodyContent #passwordDialog input {
    text-align: center;
    line-height: 30px;
}

/** Info displayer **/
#infoDisplayer {
    width: 800px;
    margin: 10px auto 0 auto;
}