/**
 * Project: The Mindcraft Project
 * User: Hector Ordonez
 * Description:
 * Base styles for non-logged Users.
 * Date: 08/12/13 17:00
*/

/*********************************************/
/**             HEADER                      **/
/*********************************************/

#header {
    width: 1000px;
    height: 105px;
    margin: 0 auto 35px auto;
}

#header .logo {
    position: relative;
    height: 100%;
    width: 201px;
    float: left;
}
#header .logo .image{
    position: absolute;
    bottom: 9px;
    right: 0;
    width: 70px;
    height: 70px;
}

#header .logo .text{
    position: absolute;
    left: 0;
    bottom: 0;
}

/** Right menu **/
#header #headerPanel {
    float: right;
    margin-top: 70px;
    margin-right: -50px;
}

/** Header options **/
#headerPanel .panelAction {
    float: left;
    width: 100px;
    margin-right: 50px;
}

#headerPanel .panelAction .image {
    display: inline-block;
    width: 30px;
    height: 30px;
    overflow: hidden;
}
#headerPanel .panelAction:hover img {
    position: relative;
    left: -30px;
}

#headerPanel .panelAction .text {
    position: relative;
    top: -18px;
    left: 15px;
}


/*********************************************/
/**                   BODY                  **/
/*********************************************/

.bodyContent {
    max-width: 1000px;
    min-height: 200px;
    max-height: 600px;
    margin: 0 auto;
    overflow: auto;
}

/*********************************************/
/**                   FOOTER                **/
/*********************************************/

#footer {
    width: auto;
    height: 100px;
}
