/**
 * Project: The Mindcraft Project
 * Description: IdeaToAction CSS Library
 * User: Hector Ordonez
 * Date: 25/07/13 21:00
 */

/** Work Out Menu **/

#workOutMenu {
    background-color: #FFF;
    width: 600px;
    height: 29px;

    margin: 0 auto;
}

#workOutMenu > a {
    background-color: #b2b2b1;
    width: 200px;
    height: 29px;

    float: left;
    text-align: center;
    text-decoration: none;
}

#workOutMenu > a:hover {
    background-color: #575756;
}

#stepPointer {
    position: relative;
    top: 5px;

    background-color: #000;
    width: 200px;
    height: 1px;

    clear: both;

    font-size: 0;
    display: block;
}

/** General Step Content **/
#stepContent {
    margin-bottom: 20px;
}

#chunkSelection {
}

#chunkTiming {
}

#chunkPrioritizing {
}

/** Next Button **/
#nextStep {
    background: url('./../../../../public/images/TMP_next.png') no-repeat;
    width: 50px;
    height: 50px;

    margin: 0 auto;
    border-radius: 5px;
    opacity: 1;

    text-align: center;
    text-decoration: none;
    display: block;
}

#nextStep:hover {
    background-color: #575756;
}

#errorDisplayer {
    display: block;
    height: 40px;
}

/**********************************************************************************************************************/
/** All Grid shared Styles                                                                                           **/
/**********************************************************************************************************************/

table .actions a {
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;

    display: block;
    font-size: 0;
    cursor: pointer;
}

table .actions a:hover {
    background-position: 30px 0 !important;
}

/**********************************************************************************************************************/
/** Selection Grid Style                                                                                             **/
/**********************************************************************************************************************/

/**
 * Id of the Table that contains the Selection table.
**/
#selection_grid {
    width: 100%;
}

/**
 * Table columns
**/
#selection_grid .col_id {
}

#selection_grid .col_title {
    width: 70%;
}

#selection_grid .col_actions {
    width: 15%;
}

#selection_grid .col_date_creation {
    width: 15%;
}

#selection_grid  .row .id, #selection_grid  .row .col_id {
    display: none;
}

/**
 * Id of the footer button to add a new idea.
**/
#selection_grid #linkNewIdea {
    position: absolute;
    background: url('./../../../../public/images/TMP_add.png');
    width: 10px;
    height: 10px;

    margin: 10px 5px 0 5px;
}

/**
 * Id of the footer form to add a new idea.
**/
#selection_grid #formNewIdea {
    display: inline;
}

#selection_grid #formNewIdea input {
    height: 30px;
    width: 100%;
    border: none;
    text-indent: 20px;
}

#selection_grid  #formEditIdea .inputEditIdeaTitle {
    height: 30px;
    width: 100%;
    border: none;
}

/**
 * Selection actions
**/
#selection_grid .actions .editAction {
    background: url('./../../../../public/images/Edit.png');
    float: left;
}

#selection_grid .actions .delAction {
    background: url('./../../../../public/images/Delete.png');
    float: left;
}

#selection_grid .actions .holdOverAction {
    background: url('./../../../../public/images/TMP_clock.gif');
    float: left;
}

/**********************************************************************************************************************/
/** Timing Grid Style                                                                                                **/
/**********************************************************************************************************************/

/**
 * Id of the Table that contains the Timing table.
**/
#timing_grid {
    width: 100%;
}

/**
 * Table columns
**/
#timing_grid .row.header {
    text-align: center;
}

#timing_grid .col_id {
}

#timing_grid .col_title {
}

#timing_grid .col_date_creation {
    width: 90px;
}

#timing_grid .col_tododate {
    width: 90px;
}

#timing_grid .col_todotime {
    width: 90px;
}

#timing_grid .col_frequency {
    width: 80px;
}

#timing_grid .col_actions {
    width: 60px;
}

#timing_grid .cell.date_creation {
    text-align: center;
}

#timing_grid .cell.date_todo {
    text-align: center;
}

#timing_grid .cell.time_todo {
    text-align: center;
}

#timing_grid  .cell.id, #timing_grid  .row .col_id {
    display: none;
}

#timing_grid  .cell.frequency, #timing_grid  .row .col_frequency {
    display: none;
}

/**
 * Timing actions
**/
#timing_grid .actions .applyTimeAction {
    background: url('./../../../../public/images/TMP_clock.gif');
    margin: 0 auto;
}

.bodyContent #applyTimeDialog {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 2;
    background: url('./../../../../public/images/TMP_transparent.png') repeat;
    display: none;
}

.bodyContent #applyTimeDialog .applyTimeInnerDialog {
    position: absolute;
    width: 200px;
    min-height: 100px;
    top: 50%;
    left: 50%;
    margin-left: -100px;
    margin-top: -100px;
    padding: 10px;

    background-color: #DDD;
    border: 2px solid #000;
    border-radius: 10px;
}

.bodyContent #applyTimeDialog #moreOften .clicker {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

.bodyContent #applyTimeDialog #moreOftenPanel {
    display: none;
}

.bodyContent #applyTimeDialog #moreOftenPanel input {
    margin-left: 5px;
}

.bodyContent #applyTimeDialog #submitAppliedTime {
    margin-top: 10px;
    text-align: center;
    cursor: pointer;
}

div.time-picker {
    position: absolute;
    height: 191px;
    width: 5em; /* needed for IE */
    overflow: auto;
    background: #fff;
    border: 1px solid #aaa;
    z-index: 99;
    margin: 0;
}

div.time-picker-12hours {
    width: 6em; /* needed for IE */
}

div.time-picker ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

div.time-picker li {
    cursor: pointer;
    height: 10px;
    font: 12px/1 Helvetica, Arial, sans-serif;
    padding: 4px 3px;
}

div.time-picker li.selected {
    background: #0063CE;
}

/**********************************************************************************************************************/
/** Prioritizing Grid Style                                                                                             **/
/**********************************************************************************************************************/

/**
 * Id of the Table that contains the Prioritizing table.
**/
#prioritizing_grid {
    width: 100%;
}

/**
 * Table columns
**/
#prioritizing_grid .col_id {
}

#prioritizing_grid .col_title {
    width: 70%;
}

#prioritizing_grid .col_date_creation {
    width: 15%;
}

#prioritizing_grid  .row .id, #prioritizing_grid  .row .col_id {
    display: none;
}

#prioritizing_grid .prioritySelector {
    height: 14px;
    border: none;
    font-size: 10px;
}