/**
 * Project: The Mindcraft Project
 * User: Hector Ordonez
 * Description:
 * Base styles for logged Users.
 * Date: 08/12/13 17:00
*/

/*********************************************/
/**             HEADER                      **/
/*********************************************/

#header {
    position: relative;
    width: 1000px;
    height: 105px;
    margin: 0 auto 35px auto;
}

#header .logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 201px;
    float: left;
}
#header .logo .image{
    position: absolute;
    bottom: 9px;
    right: 0;
    width: 70px;
    height: 70px;
    z-index: 1;
}

#header .logo .text{
    position: absolute;
    left: 0;
    bottom: 0;
}

/** Header **/
#header #headerPanel {
    position: absolute;
    bottom: 0;
    right: 0;
}

/** Header options **/
#headerPanel .panelAction {
    position: relative;
    display: inline-block;
    margin-right: 50px;
    width: 100px;
    height: 30px;
}

#headerPanel .panelAction .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    overflow-x: hidden;
}
#headerPanel .panelAction .image:hover img {
    position: relative;
    left: -30px;
}

#headerPanel .panelAction .text {
    position: absolute;
    bottom: -3px;
}

#headerPanel #actionLearnMore .text{
    left: 12px;
}
#headerPanel #actionProFile .text{
    left: 22px;
}
#headerPanel #actionLogOut .text{
    left: 17px;
}

/*********************************************/
/**                   BODY                  **/
/*********************************************/

.bodyContent {
    max-width: 1050px;
    min-height: 200px;
    max-height: 750px;
    margin: 0 auto;
    overflow: auto;
}

/*********************************************/
/**                   FOOTER                **/
/*********************************************/

#footer {
    width: 1000px;
    margin: 0 auto;
    height: 50px;
}