/**
 * Project: The Mindcraft Project
 * Description: Settings CSS Library
 * User: Hector Ordonez
 * Date: 25/07/13 01:30
 */

#settingsSection > div {
    margin: 30px;
}
#settingsSection input {
    text-align: center;
}

#settingsSection .setting label {
    display: inline-block;
    width: 180px;
}

#settingsSection .setting .current{
    display: inline-block;
    width: 120px;
}

#settingsSection .setting form {
    display: inline-block;
}

#settingsSection .setting .processing {
    background: url('./../../../../public/images/TMP_clock.gif') no-repeat;
}

#settingsSection .setting .info {
    display: inline-block;
}