/**
 * Project: The Mindcraft Project
 * Description: Brainstorm CSS Library
 * User: Hector Ordonez
 * Date: 23/07/13 10:00
 */

/**
 * Id of the element that contains the Brainstorm table.
**/
#gridWrapper {
}

/**
 * Id of the Table that contains the Brainstorm table.
**/
#brainstorm_grid {
    width: 100%;
}

/**
 * Table columns
**/
#brainstorm_grid .col_id {
}

#brainstorm_grid .col_title {
    width: 70%;
}

#brainstorm_grid .col_actions {
    width: 5%;
}

#brainstorm_grid .col_date_creation {
    width: 25%;
}

#brainstorm_grid .row .id, #brainstorm_grid .row .col_id {
    display: none;
}

/**
 * Id of the footer button to add a new idea.
**/
#brainstorm_grid #linkNewIdea {
    position: absolute;
    background: url('./../../../../public/images/TMP_add.png');
    width: 10px;
    height: 10px;

    margin: 10px 0 0 20px;
}

/**
 * Id of the footer form to add a new idea.
**/
#brainstorm_grid #formNewIdea {
    display: inline;
}

#brainstorm_grid #formNewIdea input {
    height: 30px;
    width: 100%;
    border: none;
    text-indent: 35px;
}

#brainstorm_grid #formEditIdea .inputEditIdeaTitle {
    margin-top: -4px;
    height: 30px;
    width: 114%;
    border: none;
}

/**
 * Brainstorm actions
**/
#gridWrapper .actions {
    padding-top: 0;
}
#gridWrapper .actionBox {
    position: relative;
    min-width: 100px;
}
#gridWrapper .actionBox div {
    float: left;
}
#gridWrapper .action a {
    width: 30px;
    height: 30px;
    display: block;
    font-size: 0;
    cursor: pointer;
}

#gridWrapper .action a:hover{
    background-position: -30px 0;
}

#gridWrapper .action .editAction {
    background: url('./../../../../public/images/Edit.png') no-repeat;
}

#gridWrapper .action .delAction {
    background: url('./../../../../public/images/Delete.png') no-repeat;
}