/**
 * Project: The Mindcraft Project
 * Description: Brainstorm CSS Library
 * User: Hector Ordonez
 * Date: 23/07/13 10:00
 */

/**
 * Id of the element that contains the Brainstorm table.
**/
#gridWrapper {
}

/**
 * Table columns
**/
#brainStorm_grid .col_id {
}

#brainStorm_grid .col_title {
    width: 70%;
}

#brainStorm_grid .col_actions {
    width: 5%;
}

#brainStorm_grid .col_date_creation {
    width: 25%;
}