/**
 * Project: The Mindcraft Project
 * Description: Index CSS Library
 * User: Hector Ordonez
 * Date: 23/07/13 10:00
 */
#loginBlock {
    margin-top: 175px;
    text-align: center;
}

#loginBlock input {
    width: 500px;
    height: 30px;
    text-align: center;
}

#loginSubmitBox {
    top: -54px;
}

#loginSubmitBox, #loginSubmitText {
    position: relative;
    margin: 0 auto;
    width: 140px;
}

#loginSubmitText {
    width: 120px;
    height: 30px;
    z-index: 4;
    cursor: pointer;
}

/** Styles for the Lock and Key **/
#lock {
    position: absolute;
    right: 0;
    width: 25px;
    height: 45px;
}

#lockFront {
    z-index: 2;
}

#key {
    position: absolute;
    right: 30px;
    z-index: 1;
}

#lockBack {
    z-index: 0;
}

#lockFront, #lockBack {
    position: absolute;
}

/** Error Style **/
#generalError {
    text-align: center;
}
.errorText {
    height: 30px;
}

/** Styles for the Login confirmation **/

#loginConfirmation {
    text-align: center;
    display: none;
}

#confirmationTitle {
    font-size: 24px;
}
